---
layout: guide
title: Social Media Alternatives
permalink: /social-media/alternatives
---


<article class="chapter-wrapper">
  {% include nav-page.html prev="/social-media/" next="/social-media/apps" %}
  <section class="chapter-contents">
    <section class="chapter-section">
      <section class="section-content section-header">
        <header>
          <span class="social-media-icon"></span>
          <h1>Alternatives</h1>
        </header>

        <article>
          List alternative social networks over Facebook.
        </article>
      </section>
    </section>
  </section>

  <footer class="page-footer">
    {% include nav-page.html prev="/social-media/" next="/social-media/apps" %}
  </footer>
</article>