---
layout: guide
title: Secure Communication
permalink: /social-media/communication
---


<article class="chapter-wrapper">
  {% include nav-page.html prev="/social-media/databases" next="/encryption/" %}
  <section class="chapter-contents">
    <section class="chapter-section">
      <section class="section-content chapter-intro">
        <header>
          <span class="social-media-icon"></span>
          <h1>Secure Communication</h1>
        </header>

        <section>

          <article>
            <p>
              Data scientist Vicki Boykis has written an
              <a href="http://veekaybee.github.io/2017/02/01/facebook-is-collecting-this/">
                extensive article on how and what Facbook tracks on it's users!</a>
              <a href="https://www.youtube.com/watch?time_continue=618&v=MQqhwzJqizY">Zeynep Tufekci</a>
              tells us that this data is not sold but used to mine our attention.
              <a href="https://hackernoon.com/facebooks-attention-machine-explained-7547b10cb710">Infographic display</a>.
            </p>
            <p>
              Apparently, the overwhelming
              <a href="https://shift.newco.co/two-thirds-of-the-u-s-population-wrongly-believe-facebook-sells-their-data-bfeec8385b42">opinion is that Facebook sells our data</a>,
              but that is not the case, despite the <a href="https://www.nytimes.com/2018/03/19/technology/facebook-cambridge-analytica-explained.html">data scandal with Cambridge Analytica</a>.
            </p>
            <p>
              Facebook does not sell your data, it leases it to advertisers. Facebook does not allow an advertiser to see your specific individual data profile but amongst a group of
              similar profiles.
            </p>
            <!-- <ul>
              <li>
                Facebook collects your keystrokes before you even publish a post, they even <a href="https://www.aaai.org/ocs/index.php/ICWSM/ICWSM13/paper/viewFile/6093/6350">wrote a study about 'self censorship'</a>
              </li>
              <li>
                Facebook does allow you to download your data but just a subset of it
              </li>
              <li>
                DeepFace, the face recognition software, wants to identify everyone in a photo, possible
                <a href="https://spectrum.ieee.org/biomedical/imaging/facebooks-face-recognition-tech-goes-on-trial">violating biometric privacy in Illinois</a>
              </li>
              <li>
                Shadow profiles contain information about alternate phone numbers, emails and a template of your face.
                It may even store <a href="http://theconversation.com/shadow-profiles-facebook-knows-about-you-even-if-youre-not-on-facebook-94804"></a>non-Facebook user information as well.
              </li>
              <li>
                Facebook tracks your cursor and other sites visited when you are still logged on
              </li>
            </ul> -->
            <p>
              The amazing great folks at Mozilla have created a <a href="https://blog.mozilla.org/firefox/facebook-container-extension/">firefox Facebook privacy extension</a>
              which helps you control the invasive tracking when you use Facebook. Check it out.
            </p>

            <p>
              Did you know that <a href="https://www.makeuseof.com/tag/3-ways-to-remove-exif-metadata-from-photos-and-why-you-might-want-to/">photos contain meta-data that are posted online</a>?
              Just another step to consider if you are super-conscious about posting information online.
            </p>
            <p>
              Did you know there about 10+ online databases that store personal information about you? It's not illegal, they are simply listing public information about you.
              <a href="https://www.lifewire.com/remove-personal-information-from-internet-3482691">The good folks are LifeWire.com have put together a guide for each service</a>.
            </p>
          </article>

          <ul>
            <li>
              <a href="https://blog.mozilla.org/firefox/facebook-container-extension/">Firefox Facebook Privacy Extension</a>
            </li>
            <li>
              <a href="https://www.socialpilot.co/blog/ultimate-guide-manage-social-media-privacy-settings">Social Media Security Settings Guide</a>
            </li>
            <li>
              <a href="https://datatransferproject.dev">Transfer your data from a service to another or just make a backup</a>
            </li>
            <li>
              <a href="http://www.imnotyourproduct.com/">How to Stop Facebook From Tracking You</a>
            </li>
            <li>
              <a href="https://www.lifewire.com/block-searches-on-facebook-3482915">Block Searches on Your Facebook Profile</a>
            </li>
            <li>
              <a href="http://backgroundchecks.org/justdeleteme/">JustDeleteMe.com is a service that shows how hard it is to remove your online account from popular services</a>
            </li>
            <li>
              <a href="https://www.lifewire.com/remove-personal-information-from-internet-3482691">How to remove personal information online.</a>
            </li>
          </ul>

        </section>

      </section>

    </section>

    <section class="chapter-section">
      <section class="section-content section-risk">
        <header>
          <!-- <span class="browser-warning-icon"></span> -->
          <h2>Social Media Risks</h2>
        </header>

        <ul>
          <li>
            <span class="anonymous-profile-icon"></span>
            <section>
              <h4>Free Apps Make You The Product</h4>
              <p>
                Social media apps monetize your data
              </p>
            </section>
          </li>
          <li>
            <span class="browser-multiple-icon"></span>
            <section>
              <h4>You Have Public Information</h4>
              <p>
                There are 10+ databases that legally store public information about you
              </p>
            </section>
          </li>
          <li>
            <span class="password-annoying-icon"></span>
            <section>
              <h4>Sharing More Than You Want</h4>
              <p>
                Hackers use your social media accounts to learn more about you
              </p>
            </section>
          </li>
        </ul>
      </section>
    </section>

    <section class="chapter-section">
      <section class="section-fixes">
        <header>
          <h2>Social Media Fixes</h2>
        </header>
        <ul class="chapter-links">
          <a href="{{site.baseurl}}social-media/alternatives" class="section-link">
            <span class="social-media-happy-face-icon"></span>
            <section>
              <h4>Privacy Respecting Alternatives</h4>
              <p>
                Try out new platforms that protect your data
              </p>
            </section>
          </a>
          <a href="{{site.baseurl}}social-media/apps" class="section-link">
            <span class="social-media-database-icon"></span>
            <section>
              <h4>Take Back Your Data</h4>
              <p>
                Learn how to disconnect and restrict invasive data hungry apps
              </p>
            </section>
          </a>
          <a href="{{site.baseurl}}social-media/databases" class="section-link">
            <span class="social-media-database-settings-icon"></span>
            <section>
              <h4>Control Your Public Data</h4>
              <p>
                See where your data is stored and what you can do about it
              </p>
            </section>
          </a>
          <a href="{{site.baseurl}}social-media/communication" class="section-link">
            <span class="social-media-message-icon"></span>
            <section>
              <h4>The Best Message Apps</h4>
              <p>
                An exhaustive list of messenger apps that are privacy first
              </p>
            </section>
          </a>
          <!-- <a href="{{site.baseurl}}social-media/other" class="section-link">
            <span class="browser-search-icon"></span>
            <section>
              <h4>Other Stuff</h4>
              <p>
                Photos uploaded to a website might contain meta-data you didn't even know about
              </p>
            </section>
          </a> -->
        </ul>
      </section>
    </section>
  </section>

  <footer class="page-footer">
    {% include nav-page.html prev="/social-media/databases" next="/encryption/" %}
  </footer>
</article>