---
layout: guide
title: Social Media
permalink: /social-media/
---



<article class="chapter-wrapper">
  {% include nav-page.html prev="/mobile-devices/" next="/encryption/" %}
  <section class="chapter-contents">
    <div class="chapter-section">
      <h3>Social Media</h3>
      <p>
        Data scientist Vicki Boykis has written an <a href="http://veekaybee.github.io/2017/02/01/facebook-is-collecting-this/">extensive article on how and what Facbook tracks on it's users!</a>
        <a href="https://www.youtube.com/watch?time_continue=618&v=MQqhwzJqizY">Zeynep Tufekci</a> tells us that this data is not sold but used to mine our attention.
        <a href="https://hackernoon.com/facebooks-attention-machine-explained-7547b10cb710">Infographic display</a>.
        Apparently, the overwhelming <a href="https://shift.newco.co/two-thirds-of-the-u-s-population-wrongly-believe-facebook-sells-their-data-bfeec8385b42">opinion is that Facebook sells our data</a>,
        but that is not the case, despite the <a href="https://www.nytimes.com/2018/03/19/technology/facebook-cambridge-analytica-explained.html">data scandal with Cambridge Analytica</a>.
      </p>
      <p>
        Facebook does not sell your data, it leases it to advertisers. Facebook does not allow an advertiser to see your specific individual data profile but amongst a group of
        similar profiles.
      </p>
      <h4>Data for Thought</h4>
      <ul>
        <li>
          Facebook collects your keystrokes before you even publish a post, they even <a href="https://www.aaai.org/ocs/index.php/ICWSM/ICWSM13/paper/viewFile/6093/6350">wrote a study about 'self censorship'</a>
        </li>
        <li>
          Facebook does allow you to download your data but just a subset of it
        </li>
        <li>
          DeepFace, the face recognition software, wants to identify everyone in a photo, possible
          <a href="https://spectrum.ieee.org/biomedical/imaging/facebooks-face-recognition-tech-goes-on-trial">violating biometric privacy in Illinois</a>
        </li>
        <li>
          Shadow profiles contain information about alternate phone numbers, emails and a template of your face.
          It may even store <a href="http://theconversation.com/shadow-profiles-facebook-knows-about-you-even-if-youre-not-on-facebook-94804"></a>non-Facebook user information as well.
        </li>
        <li>
          Facebook tracks your cursor and other sites visited when you are still logged on
        </li>
      </ul>
      <p>
        The amazing great folks at Mozilla have created a <a href="https://blog.mozilla.org/firefox/facebook-container-extension/">firefox Facebook privacy extension</a>
        which helps you control the invasive tracking when you use Facebook. Check it out.
      </p>

    </div>

    <h3>Best Practices</h3>
    <div class="chapter-section">
      <p>
        Did you know that <a href="https://www.makeuseof.com/tag/3-ways-to-remove-exif-metadata-from-photos-and-why-you-might-want-to/">photos contain meta-data that are posted online</a>?
        Just another step to consider if you are super-conscious about posting information online.
      </p>
      <p>
        Did you know there about 10+ online databases that store personal information about you? It's not illegal, they are simply listing public information about you.
        <a href="https://www.lifewire.com/remove-personal-information-from-internet-3482691">The good folks are LifeWire.com have put together a guide for each service</a>.
      </p>


      <h4>Here are some handy tools for various purposes</h4>
      <ul>
        <li>
          <a href="https://blog.mozilla.org/firefox/facebook-container-extension/">Firefox Facebook Privacy Extension</a>
        </li>
        <li>
          <a href="https://www.socialpilot.co/blog/ultimate-guide-manage-social-media-privacy-settings">Social Media Security Settings Guide</a>
        </li>
        <li>
          <a href="https://datatransferproject.dev">Transfer your data from a service to another or just make a backup</a>
        </li>
        <li>
          <a href="http://www.imnotyourproduct.com/">How to Stop Facebook From Tracking You</a>
        </li>
        <li>
          <a href="https://www.lifewire.com/block-searches-on-facebook-3482915">Block Searches on Your Facebook Profile</a>
        </li>
        <li>
          <a href="http://backgroundchecks.org/justdeleteme/">JustDeleteMe.com is a service that shows how hard it is to remove your online account from popular services</a>
        </li>
        <li>
          <a href="https://www.lifewire.com/remove-personal-information-from-internet-3482691">How to remove personal information online.</a>
        </li>
      </ul>
    </div>
  </section>

  <footer class="page-footer">
    {% include nav-page.html prev="/mobile-devices/" next="/encryption/" %}
  </footer>
</article>


<article class="chapter-wrapper">
  {% include nav-page.html prev="/mobile-devices/" next="/encryption/" %}
  <section class="chapter-contents">

    <section class="chapter-section">

      <section class="section-content chapter-intro">
        <header>
          <span class="social-media-icon"></span>
          <h1>Social Media</h1>
        </header>

        <section>

          <article>
            <p>
              Your phone is just a computer. It's got a browser, operating system, location tracker and apps that want your data.
              It might just be the best snooping device ever invented, but you can take steps to reduce risks and increase your security.
            </p>
            <p>
              DuckDuckGo's <a href="https://spreadprivacy.com/">SpreadPrivacy.com</a> has great resources for mobile privacy tips for <a href="https://spreadprivacy.com/iphone-privacy-tips/">iPhone</a>,
              <a href="https://spreadprivacy.com/windows-10-privacy-tips/">Windows</a>, and <a href="https://spreadprivacy.com/android-privacy-tips/">Android</a>
            </p>
            <p>
              You might be surprised that some of the most popular apps don't have the best privacy features, take a look with <a href="https://privacycheck.com">Privacy Check</a>.
            </p>
            <p>
              Thinking of a new messenger app that emphasizes privacy? Look at this <a href="https://www.securemessagingapps.com">comparison chart for some new alternatives</a>.
            </p>
            <p>
              2 Factor Authentication is a complete 'must have' these days, so set it up on your <a href="https://www.turnon2fa.com/tutorials/">phone for all accounts that support that</a>.
              Check which <a href="https://twofactorauth.org">sites and apps offer it</a>.
            </p>
            <p>
              For online searching and browsing, use <a href="https://duckduckgo.com/app">DuckDuckGo</a> or <a href="https://www.mozilla.org/en-US/firefox/mobile/">Firefox Focus</a> and
              look into <a href="https://www.dnsoverride.com">DNS for Mobile</a> for a speed increase and privacy boost.
            </p>
            <p>
              For those that really need top notch security, <a href="https://play.google.com/store/apps/details?id=info.guardianproject.orfox&hl=en">Orfox</a> and
              <a href="https://play.google.com/store/apps/details?id=org.torproject.android&hl=en">TOR</a> for Android are options.
            </p>
          </article>

          <ul>
            <li>
              <a href="https://howdns.works">illustrated comic guide</a>
            </li>
            <li>
              <a href="https://howdns.works">illustrated comic guide</a>
            </li>
            <li>
              <a href="https://howdns.works">illustrated comic guide</a>
            </li>
          </ul>

        </section>

      </section>

    </section>

    <section class="chapter-section">
      <section class="section-content section-risk">
        <header>
          <!-- <span class="browser-warning-icon"></span> -->
          <h2>Risks</h2>
        </header>

        <ul>
          <li>
            <span class="browser-multiple-icon"></span>
            <section>
              <h4>Reusing Passwords</h4>
              <p>
                This is how hackers get access to all your stuff
              </p>
            </section>
          </li>
          <li>
            <span class="anonymous-profile-icon"></span>
            <section>
              <h4>Easy to Guess Passwords</h4>
              <p>
                Password crackers look for commonly used passwords
              </p>
            </section>
          </li>
          <li>
            <span class="password-annoying-icon"></span>
            <section>
              <h4>Passwords are Annoying</h4>
              <p>
                Poor password hygiene is partly due to bad advice from 'experts'
              </p>
            </section>
          </li>
        </ul>
      </section>
    </section>

    <section class="chapter-section">
      <section class="section-fixes">
        <header>
          <h2>Password Fixes</h2>
        </header>
        <ul class="chapter-links">
          <a href="{{site.baseurl}}passwords/managers" class="section-link">
            <span class="password-manager-icon"></span>
            <section>
              <h4>Password Managers To The Rescue</h4>
              <p>
                Generate, store, and auto-fill your forms make life safer and easier
              </p>
            </section>
          </a>
          <a href="{{site.baseurl}}passwords/choosing-passwords" class="section-link">
            <span class="password-check-icon"></span>
            <section>
              <h4>Passwords Are Out, Passphrases Are In</h4>
              <p>
                Learn an effective tactic to generate a passphrase
              </p>
            </section>
          </a>
          <a href="{{site.baseurl}}passwords/databases" class="section-link">
            <span class="password-database-icon"></span>
            <section>
              <h4>Passwords in Databases</h4>
              <p>
                Learn what happens to your password in a database and how they get hacked
              </p>
            </section>
          </a>
          <a href="{{site.baseurl}}passwords/legal" class="section-link">
            <span class="password-legal-icon"></span>
            <section>
              <h4>Passwords And The Law</h4>
              <p>
                You might want to re-think Fingerprint ID, especially if you are a criminal
              </p>
            </section>
          </a>
          <a href="{{site.baseurl}}passwords/links" class="section-link">
            <span class="book-icon"></span>
            <section>
              <h4>Learn about Passwords</h4>
              <p>
                More than you wanted to know
              </p>
            </section>
          </a>
        </ul>
      </section>
    </section>
  </section>

  <footer class="page-footer">
    {% include nav-page.html prev="/mobile-devices/" next="/encryption/" %}
  </footer>
</article>