---
layout: guide
title: Social Media
permalink: /social-media/
---


<article class="chapter-wrapper">
  {% include nav-page.html prev="/mobile-devices/" next="/social-media/alternatives" %}
  <section class="chapter-contents">
    <section class="chapter-section">
      <section class="section-content chapter-intro">
        <header>
          <span class="social-media-icon"></span>
          <h1>Social Media</h1>
        </header>

        <section>

          <article>
            <p>
              Social Media services are targets for your data.
              It is only a matter of time before you get hacked through
              a social media service.  A basic understanding of what data
              hackers can get at and use later can prepare you for the worst.
            </p>
            <h2>
              Facebook
            </h2>
            <p>
              There are so many wrong things that Facebook does.
              <a href="{{site.baseurl}}social-media/apps">
                Read the next page for an in-depth soul draining
                analysis of Facebook's data tracking.
              </a>
            </p>

            <h2>Twitter</h2>
            <p>
              Twitter has been in the news lately about banning
              and removing accounts.
              <a href="https://www.youtube.com/watch?v=b7GH_ZA5jik&t=55s">
                They do have an aggressive tracking program in place.
              </a>
            </p>

            <h2>Instagram</h2>
            <p>
              Instagram is owned by Facebook, so not the best
              caretakers of your data.

              <a href="https://hellogiggles.com/news/instagram-compromising-privacy-dm-feature/">
                Location access and tracking, information collecting,
                and photo ownership and sharing (unless you have a private account)
              </a> are just some of the ways your data is used.
            </p>

            <ul>
              <li>
                <span class="read-article-icon"></span>
                <a href="https://stallman.org/facebook.html">What's Wrong With Facebook and Other Companies</a>
              </li>
            </ul>

          </article>
        </section>

      </section>
    </section>

    <section class="chapter-section">
      <section class="section-content section-risk">
        <header>
          <!-- <span class="browser-warning-icon"></span> -->
          <h2>Social Media Risks</h2>
        </header>

        <ul>
          <li>
            <span class="anonymous-profile-icon"></span>
            <h4>Free Apps Make You The Product</h4>
            <p>
              Social media apps monetize your data
            </p>
          </li>
          <li>
            <span class="browser-multiple-icon"></span>
            <h4>You Have Public Information</h4>
            <p>
              There are 10+ searchable databases that legally store public information about you
            </p>
          </li>
          <li>
            <span class="password-annoying-icon"></span>
            <h4>Sharing More Than You Want</h4>
            <p>
              Hackers use your social media accounts to learn more about you
            </p>
          </li>
        </ul>
      </section>
    </section>

    <section class="chapter-section">
      <section class="section-fixes">
        <header>
          <h2>Social Media Fixes</h2>
        </header>
        <ul class="chapter-links">
          <a href="{{site.baseurl}}social-media/alternatives" class="section-link">
            <section>
              <span class="social-media-happy-face-icon"></span>
              <h4>Privacy Respecting Alternatives</h4>
              <p>
                Try out new platforms that protect your data
              </p>
            </section>
          </a>
          <a href="{{site.baseurl}}social-media/apps" class="section-link">
            <section>
              <span class="social-media-database-icon"></span>
              <h4>Take Back Your Data</h4>
              <p>
                Learn how to disconnect and restrict invasive data hungry apps
              </p>
            </section>
          </a>
          <a href="{{site.baseurl}}social-media/databases" class="section-link">
            <section>
              <span class="social-media-database-settings-icon"></span>
              <h4>Control Your Public Data</h4>
              <p>
                See where your data is stored and what you can do about it
              </p>
            </section>
          </a>
          <a href="{{site.baseurl}}social-media/communication" class="section-link">
            <section>
              <span class="social-media-message-icon"></span>
              <h4>The Best Message Apps</h4>
              <p>
                An exhaustive list of messenger apps that are privacy first
              </p>
            </section>
          </a>
          <!-- <a href="{{site.baseurl}}social-media/other" class="section-link">
            <span class="browser-search-icon"></span>
            <section>
              <h4>Other Stuff</h4>
              <p>
                Photos uploaded to a website might contain meta-data you didn't even know about
              </p>
            </section>
          </a> -->
        </ul>
      </section>
    </section>
  </section>

  <footer class="page-footer">
    {% include nav-page.html prev="/mobile-devices/" next="/social-media/alternatives" %}
  </footer>
</article>
