---
layout: guide
title: Passwords in Databases
permalink: /passwords/databases
---


<article class="chapter-wrapper">
  {% include nav-page.html prev="/passwords/choosing-passwords" next="/passwords/legal" %}
  <section class="chapter-contents">
    <section class="chapter-section section-header">
      <header>
        <span class="password-database-icon"></span>
        <h1>Passwords & Databases</h1>
      </header>
      <article>
        <p>
          Once your awesome super secure password is saved
          to the database of your new app or service,
          it is now in the careful hands of the system admin,
          database admin and security people. Or maybe no one at all.
          The smart programmers who built,
          designed and implemented authentication systems are human too.
          They make basic mistakes.
        </p>
        <p>
          There are many articles on the do' and don'ts of password storage.
          <a href="https://auth0.com/blog/dont-pass-on-the-new-nist-password-guidelines/">
            NIST recommends 'passwords be salted with at least 32 bits of data and hashed
            with a one-way key derivation function such as Password-Based Key
            Derivation Function 2 (PBKDF2) or Balloon</a>.
          This stuff is complicated and there are many steps along the
          process that can be missed or exploited by hackers.
        </p>

        <ul>
          <li>
            <span class="tool-icon"></span>
            <a href="https://haveibeenpwned.com/">Check If Your Password Has Been Hacked</a>
          </li>
        </ul>
      </article>
    </section>
  </section>
  <footer class="page-footer">
    {% include nav-page.html prev="/passwords/choosing-passwords" next="/passwords/legal" %}
  </footer>
</article>