---
layout: guide
title: Passwords & The Law
permalink: /passwords/legal
---

<article class="chapter-wrapper">
  {% include nav-page.html prev="/passwords/databases" next="/email/" %}
  <section class="chapter-contents">
    <section class="chapter-section section-header">
      <header>
        <span class="password-legal-icon"></span>
        <h1>Passwords & The Law</h1>
      </header>

      <article>
        <p>
          By law, you are not required to give over your password.
          But you are required to give over your fingerprint.
          <a href="https://arstechnica.com/tech-policy/2016/05/should-the-govt-be-able-to-force-you-to-open-your-phone-with-just-your-fingerprint/">
            Woman ordered to provide her fingerprint to unlock seized iPhone
          </a>.
          Would be a good idea to keep your password separate from your
          fingerprint if you know you are target for something suspicious.
        </p>
      </article>
    </section>
  </section>
  <footer class="page-footer">
    {% include nav-page.html prev="/passwords/databases" next="/email/" %}
  </footer>
</article>