---
layout: guide
title: Password Managers
permalink: /passwords/managers
---


<article class="chapter-wrapper">
  {% include nav-page.html prev="/passwords/" next="/passwords/choosing-passwords" %}
  <section class="chapter-contents">
    <section class="chapter-section section-header">
      <header>
        <span class="password-manager-icon"></span>
        <h1>Password Managers</h1>
      </header>

      <article>
        <p>
          With so many accounts and apps nowadays, it truly is a chore to manage our logins and passwords.
          You could try writing them down, or using the same one for all accounts, or just keep resetting
          them each time you forget, which is super annoying after the 3rd time.
        </p>
        <p>
          You should consider a password manager, it is like a contacts for phone numbers
          but for passwords and accounts. Plus, many password managers come with other security
          tools that help such as dark web searches for your data, password
          generators and other cool stuff you would never think about.
        </p>
        <p>
          Security expert and trainer Troy Hunt has written about the benefits of password managers and
          <a href="https://www.troyhunt.com/password-managers-dont-have-to-be-perfect-they-just-have-to-be-better-than-not-having-one/">
            says they don't have to be perfect, they just have to be better than not having one
          </a>.
        </p>
        <p>
          There are many <a href="https://en.wikipedia.org/wiki/List_of_password_managers#Comparison">
            password managers
          </a>
          and figuring out which one is up to you.
          There is one consideration you should be aware of, some managers store them in the
          cloud and others store them locally on your computer.
          Cloud storage puts you at more potential risk versus local storage,
          which doesn't need an internet connection to get the passwords.
        </p>
        <h2>Cloud or Local?</h2>
        <p>
          Cloud storage can sync across all your devices which is very convenient.
          The keys to encrypt your password, before sending it to the cloud, are stored on the device,
          they are not sent over the internet. The password stored in the cloud
          is encrypted and can only be decrypted from your device which requires a master password,
          one that you would write down or remember. In essence, only you can decrypt your password!
        </p>
        <p>
          It would take a hacker years to crack all those stored encrypted passwords if they
          managed to break into the cloud database. There is always the very real
          possibility of a security vulnerability to be exploited by a hacker.
          A database full of passwords is a much bigger target than a single individual.
        </p>
        <p>
          Additionally, do you want to give up control to a third party?
          You give up full control and are at their whims.
          For the paranoid, go for a local storage option.
          For the average consumer, go with a cloud option for ease of use and the
          power of device synching.
        </p>
        <p>
          Checkout this extensive paper on
          <a href="http://devd.me/papers/pwdmgr-usenix14.pdf">
            password manager vulnerabilities
          </a>
          and
          <a href="https://crypto.stanford.edu/~dabo/pubs/papers/pwdmgrBrowser.pdf">
            another one
          </a>.
        </p>
        <ul>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://www.consumerreports.org/digital-security/everything-you-need-to-know-about-password-managers/">
              Consumer Reports on Password Managers
            </a>
          </li>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://thewirecutter.com/reviews/best-password-managers/">
              WireCutter: Best Password Managers
            </a>
          </li>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://www.wired.com/2016/01/you-need-a-password-manager/">
              Wired.com on Password Managers
            </a>
          </li>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://www.asecurelife.com/dashlane-vs-lastpass-vs-1password-vs-roboform-vs-keepass/">
              Top 4 Password Managers
            </a>
          </li>
        </ul>

        <h3>Cloud Based Managers</h3>
        <p>
          Password sharing, browser extensions that auto-fill account login forms,
          credit card form auto-filling and password generators make life much easier and smoother.
          Think of all that time saved!
        </p>
        <ul>
          <li>
            <span class="tool-icon"></span>
            <a href="https://www.lastpass.com/">
              LastPass
            </a>
          </li>
          <li>
            <span class="tool-icon"></span>
            <section>
              <a href="https://1password.com/">
                1Password
              </a>
              <a href="https://thesweetsetup.com/apps/best-password-manager-and-why-you-need-one/">
                - A Review
              </a>
            </section>
          </li>
          <li>
            <span class="tool-icon"></span>
            <a href="https://www.dashlane.com/">
              Dashlane
            </a>
          </li>
          <li>
            <span class="tool-icon"></span>
            <a href="https://www.roboform.com/">
              RoboForm
            </a>
          </li>
          <li>
            <span class="tool-icon"></span>
            <section>
              <a href="https://www.passbolt.com">
                PassBolt
              </a> - Team based software
            </section>
          </li>
        </ul>

        <h3>Local Storage Managers</h3>
        <p>
          Not for the novice! With less features than cloud services,
          you will also need to back up your passwords in case your computer dies.
        </p>
        <ul>
          <li>
            <span class="tool-icon"></span>
            <section>
              <a href="https://keepassxc.org">KeePassSXC</a>
              <section class="additional-links">
                <a href="https://securityinabox.org/en/guide/keepassx/mac/"><b>Mac Guide</b></a>,
                <a href="https://www.cio.com/article/3049476/security/how-to-set-up-a-portable-non-cloud-based-password-manager.html"><b>PC Guide</b></a>
              </section>
            </section>
          </li>
          <li>
            <span class="tool-icon"></span>
            <a href="https://pwsafe.org/">Password Safe</a>
          </li>
          <li>
            <span class="tool-icon"></span>
            <a href="https://opensource.com/article/18/4/3-password-managers-linux-command-line">Linux Command Line Managers</a>
          </li>
          <li>
            <span class="tool-icon"></span>
            <a href="https://www.passwordstore.org/">Pass for Unix</a>
          </li>
        </ul>

        <h3>Hardware Based Passwords</h3>
        <p>
          Hardware based passwords use a physical key that generates
          a random password that syncs with an account. Only the person
          with the physical key can access the account. It is used at places like
          Google or for industrial systems. For consumers, this would be overkill.
          Unless you are paranoid.
        </p>
        <ul>
          <li>
            <span class="tool-icon"></span>
            <section>
              <a href="https://onlykey.io/">Only Key</a>
            </section>
          </li>
          <li>
            <span class="tool-icon"></span>
            <section>
              <a href="https://www.themooltipass.com/">Moolti Pass</a>
            </section>
          </li>
          <li>
            <span class="tool-icon"></span>
            <section>
              <a href="https://www.yubico.com/">Yubico</a>
            </section>
          </li>
        </ul>

      </article>

    </section>
  </section>
  <footer class="page-footer">
    {% include nav-page.html prev="/passwords/" next="/passwords/choosing-passwords" %}
  </footer>
</article>