---
layout: guide
title: Passwords
permalink: /passwords/
---

<article class="chapter-contents">
  {% include nav-page.html prev="/router/" next="/router/managers" %}
  <section class="chapter-section">
    <div class="section-content">
      <h1>Passwords</h1>
      <p>
        The passwords is the application that connects to the world wide web from your computer/device.
        It works with DNS and HTTP to fetch websites and read the HTML, CSS, code and other content for the passwords to display.
      </p>

      <h3>Risks</h3>
      <ul>
        <li>
          Re-using passwords is bad
        </li>
        <li>
          Complicated passwords are bad
        </li>
        <li>
          Short passwords are bad, longer is hard to crack
        </li>
        <li>
          Storing passwords in plain text
        </li>
        <li>
          Online accounts are targets to sell your information
        </li>
      </ul>


      <h3>Fixes</h3>
      <ul>
        <li>
          <a href="{{site.baseurl}}passwords/managers">Get a password manager</a> that will save time, generate passwords and auto-fill
        </li>
        <li>
          <a href="{{site.baseurl}}passwords/choosing-passwords">Passwords are out, passphrases are in.</a> Learn the difference and what makes a quality passphrase!
        </li>
        <li>
          <a href="{{site.baseurl}}passwords/databases">Your password is stored in a database somewhere</a>, what does that mean for you?
        </li>
        <li>
          <a href="{{site.baseurl}}passwords/the-law">Passwords and the Law</a>
        </li>
        <li>
          <a href="{{site.baseurl}}passwords/links">Read more about passwords and privacy</a>.
        </li>
      </ul>
    </div>
  </section>

  <footer class="page-footer">
    {% include nav-page.html prev="/router/" next="/router/managers" %}
  </footer>
</article>