.main-nav {
  display: flex;
  flex-direction: column;
  background-color: black;

  @media (min-width: 42em) {

  }


  a {

    padding: 0 1rem;

    color: white;
    background-color: transparent;
    text-decoration: none;

    transition: background-color .2s ease-in;

    transition-property: color, background-color;
    transition-duration: .15s;
    transition-timing-function: ease-in;


    &:focus,
    &:hover {
      color: black;
      background-color: #636363;
      text-decoration: none;
    }

    &:active {

    }

    &.active {
      color: black;
      background-color: white;
    }
  }
}

.mobile-nav {
  position: fixed;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  height: 100%;
  width: 100%;

  padding: 0 2rem;

  background-color: black;
  color: white;

  z-index: 10;
  overflow-y: scroll;

  @media (min-width: 42em) {
    display: none;
  }

}
