.sub-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: .5rem;
}

@media (min-width: 42em) {
  .sub-menu {
    padding: 0;
    justify-content: space-between;
    background-color: white;
    color: black;
  }
}

.sub-menu a {
  width: 2.5rem;
  height: 2.5rem;
}

.sub-menu a .prev {
  padding: 0 1rem;
  z-index: 10;
  transform: scale(0.9);
  transition: transform .2s ease-in;
}

.sub-menu a .prev:focus, .sub-menu a .prev:hover {
  transform: scale(1);
}

.sub-menu a {
  width: 2.5rem;
  height: 2.5rem;
}

.sub-menu a .next {
  padding: 0 1rem;
  z-index: 10;
  transform: scale(0.9);
  transition: transform .2s ease-in;
}

.sub-menu a .next:focus, .sub-menu a .next:hover {
  transform: scale(1);
}

.sub-menu section .menu-button {
  background-color: black;
  color: white;
}

@media (min-width: 42em) {
  .sub-menu section .menu-button {
    background-color: white;
    color: black;
  }
}
