// <nav class="sub-menu">
//   <a href="{{include.prev}}" class="section-link">
//     <section class="prev prev-icon">
//     </section>
//   </a>
//
//   <section class="">
//     <button class="menu-button">MENU</button>
//   </section>
//
//
//   <a href="{{include.next}}" class="section-link">
//     <section class="next next-icon">
//     </section>
//   </a>
// </nav>

@mixin arrow-scale() {
  transform: scale(.90);
  transition: transform .2s ease-in;

  &:focus,
  &:hover {
    transform: scale(1);
  }
}


.sub-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: black;
  color: white;
  padding: .5rem;


  @media (min-width: 42em) {
    padding: 0;
    justify-content: space-between;

    background-color: white;
    color: black;
  }


  a.prev-link,
  a.next-link {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0 1rem;

    @include arrow-scale();
  }

  // a {
  //   width: 2.5rem;
  //   height: 2.5rem;
  //
  //   .prev {
  //     padding: 0 1rem;
  //
  //     @include arrow-scale();
  //   }
  // }
  //
  //
  // a {
  //   width: 2.5rem;
  //   height: 2.5rem;
  //
  //   .next {
  //     padding: 0 1rem;
  //
  //     @include arrow-scale();
  //   }
  // }



  section {

    .menu-button {
      background-color: black;
      color: white;
      font-weight: bold;

      @media (min-width: 42em) {
        background-color: white;
        color: black;
      }
    }
  }
}
