---
layout: guide
title: Search Engines
permalink: /search-engines/
---


<article class="chapter-wrapper">
  {% include nav-page.html prev="/dns/encryption" next="/vpn-tor/" %}
  <section class="chapter-contents">
    <section class="chapter-section">
      <section class="section-content chapter-intro">
        <header>
          <span class="search-icon"></span>
          <h1>Search Engines</h1>
        </header>

        <section>

          <article>
            <p>
              Google, Bing and Yandex track, collect and store your search history.
              They identify you with your computers' IP address, a unique identifier that is similar to a phone number for your computer.
              Search engines also share your search terms and IP Address with websites you search for.
            </p>

            <p>
              In other words, it is a very likely that websites and the companies that
              own them are saving your search history and selling it.
              Try these alternatives below.
              DuckDuckGo and Start Page have a strong reputation for protecting user privacy.
            </p>
          </article>

          <ul>
            <li>
              <span class="read-article-icon"></span>
              <a href="https://duckduckgo.com/privacy">How Search Engines Track You</a>
            </li>
            <li>
              <span class="watch-video-icon"></span>
              <a href="https://www.youtube.com/watch?v=OU9U26IWSYE">DuckDuckGo Creator Interview</a>
            </li>
            <li>
              <span class="watch-video-icon"></span>
              <a href="https://www.youtube.com/watch?v=LVV_93mBfSU">How Search Works</a>
            </li>
          </ul>

        </section>

      </section>

    </section>

    <section class="chapter-section">
      <section class="section-content section-risk">
        <header>
          <!-- <span class="browser-warning-icon"></span> -->
          <h2>Search Engine Risks</h2>
        </header>

        <ul>
          <li>
            <span class="unlock-icon"></span>
            <h4>Ad Trackers</h4>
            <p>
              Ad trackers follow you around from site to site.
              Google, Facebook and Twitter are the biggest offenders.
            </p>
          </li>
          <li>
            <span class="data-sharing-icon"></span>
            <h4>Private Search</h4>
            <p>
              Google tracks your search history.
              Like someone following behind you when you are driving.
            </p>
          </li>
          <li>
            <span class="data-lookup-icon"></span>
            <h4>HTTPS</h4>
            <p>
              HTTP is unsecure, it's like not locking your front door.
              HTTPS, the S is for secure is super easy to set up.
            </p>
          </li>
          <li>
            <span class="signal-icon"></span>
            <h4>Search Leakage</h4>
            <p>
              When you click a site, your search terms are shared with the site.
              IP address and user agent information is passed along as well.
            </p>
          </li>
          <li>
            <span class="private-eye-icon"></span>
            <h4>Misunderstanding Private Browsing</h4>
            <p>
              <a href="{{site.baseurl}}browser/private-browsing">Private browsing</a> simply protects you from other users viewing your searches,
              ISP's and networks see everything.
            </p>
          </li>
        </ul>
      </section>
    </section>

    <section class="chapter-section">
      <section class="section-fixes">
        <header>
          <h2>Search Engine Fixes</h2>
        </header>
        <ul class="chapter-links">
          <a href="https://duckduckgo.com/" target="_blank" class="section-link">
            <section>
              <span class="browser-blank-icon"></span>
              <h4>
                DuckDuckGo
              </h4>
              <p>
                DuckDuckGo is centered on keeping your searches private.
                There are several ways data about your searches can be leaked.
                DuckDuckGo fixes that and uses Google under the hood.
              </p>
            </section>
          </a>
          <a href="https://www.startpage.com/" target="_blank" class="section-link">
            <section>
              <span class="browser-blank-icon"></span>
              <h4>Start Page</h4>
              <p>
                Prevent trackers from following your web searches and hides
                personal information that would reveal your potential online identity.
              </p>
            </section>
          </a>
          <a href="https://searx.me/" target="_blank" class="section-link">
            <section>
              <span class="browser-blank-icon"></span>
              <h4>SearX</h4>
              <p>
                A metasearch engine that compiles results from other search engines.
                They don't store personal information for creating online profiles.
              </p>
            </section>
          </a>
          <a href="https://www.qwant.com/" target="_blank" class="section-link">
            <section>
              <span class="browser-blank-icon"></span>
              <h4>Qwant</h4>
              <p>
                Another alternative search engine that does not share information to
                third-party services.
              </p>
            </section>
          </a>
        </ul>
      </section>
    </section>

  </section>



  <footer class="page-footer">
    {% include nav-page.html prev="/dns/encryption" next="/vpn-tor/" %}
  </footer>
</article>