<nav class="main-menu">
  <section class="menu-columns">
    <section class="links">
      <button class="close-menu-button">CLOSE</button>
      <a href="{{site.baseurl}}" class="home">Home</a>
      <a href="{{site.baseurl}}overview" class="overview">Overview</a>
      <a href="{{site.baseurl}}isp" class="isp">ISP</a>
      <a href="{{site.baseurl}}browser" class="browser">Browser</a>
      <a href="{{site.baseurl}}dns" class="dns">DNS</a>
      <a href="{{site.baseurl}}search-engines" class="search">Search Engines</a>
      <a href="{{site.baseurl}}vpn-tor" class="vpn">VPN/TOR</a>
      <a href="{{site.baseurl}}router" class="router">Router</a>
      <a href="{{site.baseurl}}passwords" class="passwords">Passwords</a>
      <a href="{{site.baseurl}}email" class="email">Email</a>
      <a href="{{site.baseurl}}mobile-devices" class="mobile">Mobile Devices</a>
      <a href="{{site.baseurl}}social-media" class="social">Social Media</a>
      <a href="{{site.baseurl}}encryption" class="encryption">Encryption</a>
      <a href="{{site.baseurl}}styleguide" class="styleguide">Styleguide</a>
    </section>

    <section class="link-preview">
      <section class="home">
        <h1>Home</h1>
      </section>
      <section class="overview">
        <h1>Overview</h1>
      </section>
      <section class="isp">
        <h1>ISP</h1>
      </section>
      <section class="browser">
        <h1>Browser</h1>
      </section>
      <section class="dns">
        <h1>DNS</h1>
      </section>
      <section class="search">
        <h1>Search</h1>
      </section>
      <section class="vpn">
        <h1>VPN</h1>
      </section>
      <section class="router">
        <h1>Router</h1>
      </section>
      <section class="passwords">
        <h1>Passwords</h1>
      </section>
      <section class="email">
        <h1>Email</h1>
      </section>
      <section class="mobile">
        <h1>Mobile Devices</h1>
      </section>
      <section class="social">
        <h1>Social Media</h1>
      </section>
      <section class="encryption">
        <h1>Encryption</h1>
      </section>
      <section class="styleguide">
        <h1>Styleguide</h1>
      </section>

    </section>
  </section>
</nav>

<!-- <nav class="mobile-menu">
  <button class="close-mobile-menu-button">CLOSE</button>
  <a href="{{site.baseurl}}">Home</a>
  <a href="{{site.baseurl}}overview">Overview</a>
  <a href="{{site.baseurl}}isp">ISP</a>
  <a href="{{site.baseurl}}browser">Browser</a>
  <a href="{{site.baseurl}}dns">DNS</a>
  <a href="{{site.baseurl}}search-engines">Search Engines</a>
  <a href="{{site.baseurl}}vpn-tor">VPN/TOR</a>
  <a href="{{site.baseurl}}router">Router</a>
  <a href="{{site.baseurl}}passwords">Passwords</a>
  <a href="{{site.baseurl}}email">Email</a>
  <a href="{{site.baseurl}}mobile-devices">Mobile Devices</a>
  <a href="{{site.baseurl}}social-media">Social Media</a>
  <a href="{{site.baseurl}}encryption">Encryption</a>
  <a href="{{site.baseurl}}styleguide">Styleguide</a>
</nav> -->