<nav class="main-nav">
  <a href="{{site.baseurl}}">Home</a>
  <a href="{{site.baseurl}}overview">Overview</a>
  <a href="{{site.baseurl}}isp">ISP</a>
  <a href="{{site.baseurl}}browser">Browser</a>
  <a href="{{site.baseurl}}dns">DNS</a>
  <a href="{{site.baseurl}}search-engines">Search Engines</a>
  <a href="{{site.baseurl}}vpn-tor">VPN/TOR</a>
  <a href="{{site.baseurl}}router">Router</a>
  <a href="{{site.baseurl}}passwords">Passwords</a>
  <a href="{{site.baseurl}}email">Email</a>
  <a href="{{site.baseurl}}mobile-devices">Mobile Devices</a>
  <a href="{{site.baseurl}}social-media">Social Media</a>
  <a href="{{site.baseurl}}encryption">Encryption</a>
  <a href="{{site.baseurl}}styleguide">Styleguide</a>
</nav>



<!-- <nav class="main-nav">
  <li>
    <a href="{{site.baseurl}}">Home</a>
  </li>
  <li>
    <a href=""></a>
  </li>
  <li>
    <a href="/overview">Overview</a>
  </li>
  <li>
    <a href="/isp">ISP</a>
  </li>
  <li>
    <a href="{{site.baseurl}}browser">Browser</a>
  </li>
  <li>
    <a href="{{site.baseurl}}dns">DNS</a>
  </li>
  <li>
    <a href="{{site.baseurl}}search-engines">Search Engines</a>
  </li>
  <li>
    <a href="{{site.baseurl}}vpn-tor">VPN/TOR</a>
  </li>
  <li>
    <a href="{{site.baseurl}}router">Router</a>
  </li>
  <li>
    <a href="{{site.baseurl}}passwords">Passwords</a>
  </li>
  <li>
    <a href="{{site.baseurl}}email">Email</a>
  </li>
  <li>
    <a href="{{site.baseurl}}mobile-devices">Mobile Devices</a>
  </li>
  <li>
    <a href="{{site.baseurl}}social-media">Social Media</a>
  </li>
  <li>
    <a href="{{site.baseurl}}encryption">Encryption</a>
  </li>
  <li>
    <a href="{{site.baseurl}}styleguide">Styleguide</a>
  </li>
</nav> -->