<nav class="main-nav">
  <li>
    <a href="/">Home</a>
  </li>
  <li>
    <a href="/webcams">Web Cam Stickers</a>
  </li>
  <h3>Security Guide</h3>
  <li>
    <a href="/overview">Overview</a>
  </li>
  <li>
    <a href="/isp">ISP</a>
  </li>
  <li>
    <a href="/browser">Browser</a>
    <!-- <ul class="sub-nav">
      <li>
        <a href="">Alternatives</a>
      </li>
      <li>
        <a href="">Blockers</a>
      </li>
      <li>
        <a href="">HTTPS</a>
      </li>
      <li>
        <a href="">Private Browsing</a>
      </li>
      <li>
        <a href="">TOR</a>
      </li>
      <li>
        <a href="">Additional Links</a>
      </li>
    </ul> -->
  </li>
  <li>
    <a href="/dns">DNS</a>
  </li>
  <li>
    <a href="/search-engines">Search Engines</a>
  </li>
  <li>
    <a href="/vpn-tor">VPN/TOR</a>
  </li>
  <li>
    <a href="/router">Router</a>
  </li>
  <li>
    <a href="/passwords">Passwords</a>
  </li>
  <li>
    <a href="/email">Email</a>
  </li>
  <li>
    <a href="/mobile-devices">Mobile Devices</a>
  </li>
  <li>
    <a href="/social-media">Social Media</a>
  </li>
  <li>
    <a href="/encryption">Encryption</a>
  </li>
  <li>
    <a href="/styleguide">Styleguide</a>
  </li>
</nav>