---
layout: guide
title: Encryption Setup
permalink: /encryption/setup
---


<article class="chapter-wrapper">
  {% include nav-page.html prev="/encryption" next="/encryption/uses" %}
  <section class="chapter-contents">
    <section class="chapter-section">
      <section class="section-content section-header">
        <header>
          <span class="encryption-icon"></span>
          <h1>Encryption Setup</h1>
        </header>

        <article>

          <p>
            Encryption is widely available for most OS platforms and devices.
            It's never been easier. A word of caution, with encryption you'll need
            to have a backup or recovery system in place just in case.
          </p>
          <p>
            It requires some time and effort, but encrypting personal
            and financial data is a good first move.
          </p>

          <ul>
            <li>
              <span class="read-article-icon"></span>
              <a href="https://www.howtogeek.com/260507/psa-encrypt-your-pc-phone-and-tablet-now.-youll-regret-it-later-if-you-dont/">
                Encryption Guide
              </a>
            </li>
            <li>
              <span class="read-article-icon"></span>
              <a href="https://lifehacker.com/a-beginners-guide-to-encryption-what-it-is-and-how-to-1508196946">
                Beginners Guide
              </a>
            </li>
            <li>
              <span class="read-article-icon"></span>
              <a href="https://ssd.eff.org/en/module/how-encrypt-your-iphone">
                Encrypting Your iPhone
              </a>
            </li>
            <li>
              <span class="read-article-icon"></span>
              <a href="https://ssd.eff.org/en/module/how-delete-your-data-securely-macos">
                Securely Deleting Data on Mac OSX
              </a>
            </li>
            <li>
              <span class="read-article-icon"></span>
              <a href="https://ssd.eff.org/en/module/how-encrypt-your-windows-device">
                Encrypting Your Windows Device
              </a>
            </li>
            <li>
              <span class="read-article-icon"></span>
              <a href="https://ssd.eff.org/en/module/how-delete-your-data-securely-macos">
                Securely Deleting Data on Windows
              </a>
            </li>
            <li>
              <span class="read-article-icon"></span>
              <a href="https://ssd.eff.org/en">
                EFF Surviellance Self-Defence Guides
              </a>
            </li>
            <li>
              <span class="read-article-icon"></span>
              <a href="https://www.winprivacy.de/english-home/">
                Turn Off Some Windows Tracking
              </a>
            </li>
          </ul>

        </article>
      </section>
    </section>
  </section>

  <footer class="page-footer">
    {% include nav-page.html prev="/encryption" next="/encryption/uses" %}
  </footer>
</article>