---
layout: guide
title: Checklist
permalink: /router/checklist
---


<article class="chapter-wrapper">
  {% include nav-page.html prev="/router" next="/router/wi-fi" %}
  <section class="chapter-contents">
    <section class="chapter-section section-header">
      <header>
        <span class="signal-icon"></span>
        <h1>Router Checklist</h1>
      </header>

      <article>
        <p>
          Securing your router is one of the first actions you should take.
          Taking the time to set up proper security will go a long way.
          The following checklist is an 8 step guideline compiled by
          router security expert Michael Horowitz.
        </p>
        <p>
          There is actually more steps at his amazing web site
          <a href="https://routersecurity.org/index.php">Router Security</a>.
        </p>
        <ul>
          <li>
            <span class="lock-icon"></span>
            <p>Don't use a modem/router combo, keep them separate</p>
          </li>
          <li>
            <span class="lock-icon"></span>
            <p>
              Change the login and password used to access the router.
              Check your router manual for instructions
            </p>
          </li>
          <li>
            <span class="lock-icon"></span>
            <a href="https://routersecurity.org/wepwpawpa2.php">
              Use WPA2 with AES for Wi-Fi encryption
            </a>
          </li>
          <li>
            <span class="lock-icon"></span>
            <a href="https://routersecurity.org/wepwpawpa2.php">
              Wi-Fi password should be at 14 characters long
            </a>
          </li>
          <li>
            <span class="lock-icon"></span>
            <a href="https://routersecurity.org/checklist.php">
              Disable Plug N Play(UPnP) and/or NAT-PMP on Apple routers - see point 12
            </a>
          </li>
          <li>
            <span class="lock-icon"></span>
            <a href="https://routersecurity.org/SSID.php">
              Don't use the default network name, choose a custom SSID name
            </a>
          </li>
          <li>
            <span class="lock-icon"></span>
            <a href="https://www.computerworld.com/article/3014184/security/to-share-or-not-to-share-a-look-at-guest-wi-fi-networks.html">
              Use a Guest Network
            </a>
          </li>
          <li>
            <span class="lock-icon"></span>
            <a href="https://routersecurity.org/wps.php">
              Turn Off Wi-Fi Protected Setup (WPS)
            </a>
          </li>
          <li>
            <span class="lock-icon"></span>
            <a href="https://routersecurity.org/checklist.php">
              Turn off Remote Administration - see step 4
            </a>
          </li>
          <li>
            <span class="lock-icon"></span>
            <a href="https://routersecurity.org/testrouter.php">
              Check if ports are open with online testers
            </a>
          </li>
          <li>
            <span class="lock-icon"></span>
            <a href="https://routersecurity.org/checklist.php">
              Update the Router Firmware - see point 15
            </a>
          </li>
        </ul>
        <p>
          Check out the
          <a href="https://routersecurity.org/checklist.php">
            in-depth checklist with much more details
          </a>
          for a deeper understanding and then read the rest of the site. It's amazing!
        </p>

        <h2>Router How To's</h2>

        <ul>
          <li>
            <span class="tool-icon"></span>
            <a href="https://www.lifewire.com/change-the-wifi-name-ssid-on-a-router-818337">
              Change Wi-Fi Name/SSID
            </a>
          </li>
          <li>
            <span class="tool-icon"></span>
            <a href="https://www.lifewire.com/hide-your-wireless-network-from-your-internet-leeching-neighbors-2487655">
              Hide Your Wireless Network
            </a>
          </li>

          <li>
            <span class="tool-icon"></span>
            <a href="https://www.lifewire.com/internet-network-tutorials-4102695">
              Tons of Router How-To's from Lifewire
            </a>
          </li>
          <li>
            <span class="tool-icon"></span>
            <a href="https://www.lifewire.com/accessing-your-router-at-home-818205">
              Accessing Your Router as Admin
            </a>
          </li>
          <li>
            <span class="tool-icon"></span>
            <a href="https://fieldguide.gizmodo.com/how-to-keep-your-home-wi-fi-secure-1821008133">
              Secure Your Router
            </a>
          </li>
          <li>
            <span class="tool-icon"></span>
            <a href="https://lifehacker.com/5791208/run-your-home-network-like-a-coffee-shop">
              Run Internet Like Coffee Shop
            </a>
          </li>
          <li>
            <span class="tool-icon"></span>
            <a href="http://www.routerpasswords.com">
              Find Your Router's Default Password
            </a>
          </li>
          <li>
            <span class="tool-icon"></span>
            <a href="http://setuprouter.com">
              Router Set Up Guides
            </a>
          </li>
          <li>
            <span class="tool-icon"></span>
            <a href="https://www.routercheck.com/what-is-routercheck/">
              Router Check Software
            </a>
          </li>
        </ul>
      </article>
    </section>
  </section>

  <footer class="page-footer">
    {% include nav-page.html prev="/router" next="/router/wi-fi" %}
  </footer>
</article>