---
layout: guide
title: Firewall
permalink: /router/firewall
---


<article class="chapter-wrapper">
  {% include nav-page.html prev="/router/wi-fi" next="/passwords" %}
  <section class="chapter-contents">
    <section class="chapter-section section-header">
      <header>
        <span class="shield-firewall-icon"></span>
        <h1>Firewall</h1>
      </header>


      <article>
        <p>
          A firewall prevent malicious or unknown requests from outside your network.
          It prevents stuff getting into your network that you didn't specifically request.
        </p>
        <p>
          Most of the time, it is supported, but not enabled!
          Make sure it is on! Google it for your OS!
        </p>
        <ul>
          <li>
            <span class="tool-icon"></span>
            <a href="https://www.lifewire.com/how-to-enable-your-wireless-routers-built-in-firewall-2487668">
              Check Your Firewall
            </a>
          </li>
          <li>
            <span class="tool-icon"></span>
            <a href="https://www.lifewire.com/how-to-test-your-firewall-2487969">
              Test Your Firewall
            </a>
          </li>
          <li>
            <span class="tool-icon"></span>
            <a href="https://support.apple.com/en-au/HT201642">
              Mac OS Firewall Setup
            </a>
          </li>
          <li>
            <span class="tool-icon"></span>
            <a href="https://www.glasswire.com">
              Glasswire Firewall for Windows
            </a>
          </li>
        </ul>
      </article>
    </section>
  </section>

  <footer class="page-footer">
    {% include nav-page.html prev="/router/wi-fi" next="/passwords" %}
  </footer>
</article>