---
layout: guide
title: Wifi
permalink: /router/wi-fi
---


<article class="chapter-wrapper">
  {% include nav-page.html prev="/router/checklist" next="/router/firewall" %}
  <section class="chapter-contents">
    <section class="chapter-section section-header">
      <header>
        <span class="router-wifi-icon"></span>
        <h1>WiFi</h1>
      </header>

      <article>
        <p>
          <a href="https://www.goldenfrog.com/blog/the-dangers-of-public-wi-fi">
            Public Wi-Fi is probably not secure
          </a>.
          <a href="https://arstechnica.com/information-technology/2014/06/free-wi-fi-from-xfinity-and-att-also-frees-you-to-be-hacked/">
            Rogue Wifi spots use names like 'Free Wi-Fi' or 'Totally Free Internet' to lure you to connect.
          </a>
          A VPN is usually the best way to prevent instrusions.
          <a href="http://confiance-numerique.clermont-universite.fr/Slides/M-Cunche-2014.pdf">
            You can be tracked through Wi-Fi networks
          </a>
        </p>
        <p>
          Your computer will remember Wi-Fi networks which
          could be a security risk as well.
          Convenience over security is nice,
          but for the paranoid make
          <a href="https://github.com/drduh/macOS-Security-and-Privacy-Guide#wi-fi">
            sure to clear these caches.
          </a>

        </p>

        <section class="blockquote">
          <h3>Wi-Fi Network Risks:</h3>
          <blockquote class="blockquote-excerpt" cite="https://www.goldenfrog.com/blog/the-dangers-of-public-wi-fi">
            <ul class="bullet-list">
              <li>
                Wi-Fi networks are not secure, allowing hackers to see your web searches and credentials.
              </li>
              <li>
                Malware injection which can then infect your phone.
              </li>
              <li>
                Man-in-the-attacks can intercept data being sent between you and someone else
              </li>
              <li>
                Web searches, email and chats, location, files and photos, login credentials can all be intercepted
              </li>
            </ul>
          </blockquote>
          <footer>
            From <a href="https://www.goldenfrog.com/blog/the-dangers-of-public-wi-fi">Dangers of Wifi</a>
          </footer>
        </section>


        <h2>Wi-Fi How To's</h2>
        <ul>
          <li>
            <span class="tool-icon"></span>
            <a href="https://mashtips.com/share-wifi-network-with-qr-code/">
              Share WiFi with QR Code
            </a>
          </li>
          <li>
            <span class="tool-icon"></span>
            <a href="https://fieldguide.gizmodo.com/how-to-give-guests-to-access-your-wi-fi-without-exposin-1777526975">
              Setup Secure Guest Access
            </a>
          </li>

          <li>
            <span class="tool-icon"></span>
            <a href="https://www.lifewire.com/how-to-hack-proof-your-wireless-router-2487654">
              Hack Proof Your Wireless Router
            </a>
          </li>
          <li>
            <span class="tool-icon"></span>
            <a href="https://makezine.com/projects/internet-kill-switch/">
              Internet Kill Switch
            </a>
          </li>
        </ul>

        <h2>More Reading</h2>
        <ul>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://thecorrespondent.com/1101/what-we-give-away-when-we-log-on-to-a-public-wifi-network/31040493-53737dba">
              Public Wi-Fi Dangers
            </a>
          </li>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://heimdalsecurity.com/blog/home-wireless-network-security/">
              Wi-Fi Security Overview
            </a>
          </li>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://github.com/drduh/macOS-Security-and-Privacy-Guide#wi-fi">
              Mac OS Clear Wifi Caches
            </a>
          </li>
          <li>
            <span class="watch-video-icon"></span>
            <a href="https://www.youtube.com/watch?v=YzP3ZL4vlkY">
              How Hackers Use Wi-Fi to Capture Data
            </a>
          </li>


        </ul>

      </article>
    </section>
  </section>

  <footer class="page-footer">
    {% include nav-page.html prev="/router/checklist" next="/router/firewall" %}
  </footer>
</article>