---
layout: guide
title: Alternatives
permalink: /email/alternatives
---




<article class="chapter-wrapper">
  {% include nav-page.html prev="/passwords/" next="/email/best-practices" %}
  <section class="chapter-contents">
    <section class="chapter-section section-header">
      <header>
        <span class="email-secure-icon"></span>
        <h1>Email Services</h1>
      </header>

      <article>
        <p>
          Here are some secure services that put your privacy first. No email reading here.
        </p>

        <ul>
          <li>
            <a href="https://protonmail.com">ProtonMail</a> - Founded by former CERN scientists, the place where the Net was born.
            <a href="https://www.lifewire.com/protonmail-review-4107075">Review</a> and <a href="https://www.lifewire.com/create-a-free-protonmail-account-4108234">Setup Guide</a>
          </li>
          <li>
            <a href="https://tutanota.com">Tutanota</a>
          </li>
          <li>
            <a href="https://posteo.de/en">Posteo</a> - Paid, in euros, so maybe not available to everyone everywhere
          </li>
          <li>
            <a href="https://clean.email">Clean Email</a> - Great service for email filtering
          </li>
          <li>
            <a href="https://www.fastmail.com">Fastmail</a> - Paid, no ads
          </li>
          <li>
            <a href="https://www.hushmail.com">Hushmail</a> - Secure solution for corporations
          </li>
          <li>
            <a href="https://mailfence.com">Mail Fence</a> - Been around since 1999! They take privacy for real reals
          </li>
          <li>
            <a href="https://runbox.com">Runbox</a>
          </li>
          <li>
            <a href="http://www.pop2imap.com">POP, IMAP explained</a> and <a href="https://www.makeuseof.com/tag/pop-vs-imap/">more here</a>
          </li>
          <li>
            <a href="https://github.com/OpenTechFund/secure-email#readme">Extensive List of New Email Projects</a>
          </li>
        </ul>
      </article>
    </section>

    <!--  Proton Mail  -->
    <section class="tool-highlight">

      <section class="tool-header">
        <h2>Proton Mail</h2>
        <h4>Free & Paid</h4>
        <a href="https://protonmail.com" target="_blank">
          <h5>Desktop & Mobile</h5>
          <span class="download-icon"></span>
        </a>
      </section>

      <section class="tool-summary">
        <p>
          Proton Mail is built by scientists and engineers who met at CERN.
          A user friendly interface backed by end-to-end encryption
          with an anonymous sign up process makes this the go to email for
          security and privacy.
        </p>
        <p>
          It's based in Switzerland which maintains strict privacy laws.
          User data is impossible to access, so don't lose your password.
        </p>
      </section>

      <section class="tool-features">
        <ul>
          <li>
            <span class="tool-icon"></span>
            <h5>
              Desktop and Mobile
            </h5>
          </li>
          <li>
            <span class="tool-icon"></span>
            <h5>
              Open Source Encryption
            </h5>
          </li>
          <li>
            <span class="tool-icon"></span>
            <h5>
              Zero Access to User Data
            </h5>
          </li>
        </ul>
      </section>

      <section class="tool-footer">
        <section>
          <span class="read-article-icon"></span>
          <a href="https://www.lifewire.com/protonmail-review-4107075">Review</a>
        </section>
        <section>
          <span class="read-article-icon"></span>
          <a href="https://www.lifewire.com/create-a-free-protonmail-account-4108234">Setup Guide</a>
        </section>
        <section>
          <span class="watch-video-icon"></span>
          <a href="https://www.ted.com/talks/andy_yen_think_your_email_s_private_think_again">Proton Mail Founder Ted Talk</a>
        </section>

      </section>
    </section>


    <!--  Tutonata  -->
    <section class="tool-highlight">

      <section class="tool-header">
        <h2>Tutonata</h2>
        <h4>Free</h4>
        <a href="https://tutanota.com" target="_blank">
          <h5>Desktop & Mobile</h5>
          <span class="download-icon"></span>
        </a>
      </section>

      <section class="tool-summary">
        <p>

        </p>
        <p>

        </p>
      </section>

      <section class="tool-features">
        <ul>
          <li>
            <span class="tool-icon"></span>
            <h5>
              Open Source
            </h5>
          </li>
          <li>
            <span class="tool-icon"></span>
            <h5>
              End to End Encryption
            </h5>
          </li>
          <li>
            <span class="tool-icon"></span>
            <h5>
              Desktop and Mobile
            </h5>
          </li>
        </ul>
      </section>

      <section class="tool-footer">
        <section>
          <span class="read-article-icon"></span>
          <a href="https://www.lifewire.com/protonmail-review-4107075">Review</a>
        </section>
        <section>
          <span class="read-article-icon"></span>
          <a href="https://www.lifewire.com/create-a-free-protonmail-account-4108234">Setup Guide</a>
        </section>
      </section>
    </section>


  </section>
  <footer class="page-footer">
    {% include nav-page.html prev="/passwords/" next="/email/best-practices" %}
  </footer>
</article>