---
layout: guide
title: Alternatives
permalink: /email/alternatives
---

<article class="chapter-wrapper">
  {% include nav-page.html prev="/passwords/" next="/email/best-practices" %}
  <section class="chapter-contents">
    <section class="chapter-section section-header">
      <header>
        <span class="email-secure-icon"></span>
        <h1>Email Services</h1>
      </header>

      <article>
        <p>
          Here are some secure services that put your privacy first.
          No email reading here.
        </p>

        <ul>
          <li>
            <span class="read-article-icon"></span>
            <a href="http://www.pop2imap.com">
              POP, IMAP explained
            </a>
          </li>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://www.makeuseof.com/tag/pop-vs-imap/">
              POP vs. IMAP
            </a>
          </li>
          <li>
            <span class="watch-video-icon"></span>
            <a href="https://www.lifewire.com/best-secure-email-services-4136763">
              LifeWire Email Service Reviews
            </a>
          </li>
          <li>
            <span class="watch-video-icon"></span>
            <a href="https://www.youtube.com/watch?v=4F2djJlNucU">
              Secure Email Providers Review
            </a>
          </li>
          <li>
            <span class="watch-video-icon"></span>
            <a href="https://www.youtube.com/watch?v=xFHRP3saw7o">
              Best Secure and Private Email Services
            </a>
          </li>
        </ul>
      </article>
    </section>

    <!--  Proton Mail  -->
    <section class="tool-highlight">

      <section class="tool-header">
        <h2>Proton Mail</h2>
        <h4>Free & Paid</h4>
        <a href="https://protonmail.com" target="_blank">
          <h5>Desktop & Mobile</h5>
          <span class="download-icon"></span>
        </a>
      </section>

      <section class="tool-summary">
        <p>
          Proton Mail is built by scientists and engineers who met at CERN.
          A user friendly interface backed by end-to-end encryption
          with an anonymous sign up process makes this the go to email for
          security and privacy.
        </p>
        <p>
          It's based in Switzerland which maintains strict privacy laws.
          User data is impossible to access, so don't lose your password.
          They don't log your IP address either.
        </p>
      </section>

      <section class="tool-features">
        <ul>
          <li>
            <span class="tool-icon"></span>
            <h5>
              Desktop and Mobile
            </h5>
          </li>
          <li>
            <span class="tool-icon"></span>
            <h5>
              Open Source Encryption
            </h5>
          </li>
          <li>
            <span class="tool-icon"></span>
            <h5>
              Zero Access to User Data
            </h5>
          </li>
          <li>
            <span class="tool-icon"></span>
            <h5>
              Anonymous Sign-up
            </h5>
          </li>
        </ul>
      </section>

      <section class="tool-footer">
        <section>
          <span class="read-article-icon"></span>
          <a href="https://protonmail.com/blog/protonmail-threat-model/">
            Proton Mail's Threat Model Explained
          </a>
        </section>
        <section>
          <span class="read-article-icon"></span>
          <a href="https://www.lifewire.com/protonmail-review-4107075">
            Review
          </a>
        </section>
        <section>
          <span class="read-article-icon"></span>
          <a href="https://www.lifewire.com/create-a-free-protonmail-account-4108234">
            Setup Guide
          </a>
        </section>
        <section>
          <span class="read-article-icon"></span>
          <a href="https://www.reddit.com/r/ProtonMail/">
            Reddit
          </a>
        </section>
        <section>
          <span class="watch-video-icon"></span>
          <a href="https://www.ted.com/talks/andy_yen_think_your_email_s_private_think_again">
            Proton Mail Founder Ted Talk
          </a>
        </section>
        <section>
          <span class="watch-video-icon"></span>
          <a href="https://www.youtube.com/watch?v=AxYbrgiCW2E">
            Proton Mail Walk Thru
          </a>
        </section>
      </section>
    </section>

    <!--  Tutonata  -->
    <section class="tool-highlight">

      <section class="tool-header">
        <h2>Tutonata</h2>
        <h4>Free</h4>
        <a href="https://tutanota.com" target="_blank">
          <h5>Desktop & Mobile</h5>
          <span class="download-icon"></span>
        </a>
      </section>

      <section class="tool-summary">
        <p>
          Based in Germany, Tutanota is built by a team of engineers
          committed to privacy. They offer free and paid services with a
          promise to always offer a free service.
        </p>
        <p>
          They also provide truly anonymous sign-ups which means that
          you never give any personal information to get an account.
        </p>
      </section>

      <section class="tool-features">
        <ul>
          <li>
            <span class="tool-icon"></span>
            <h5>
              Open Source
            </h5>
          </li>
          <li>
            <span class="tool-icon"></span>
            <h5>
              End to End Encryption
            </h5>
          </li>
          <li>
            <span class="tool-icon"></span>
            <h5>
              Desktop and Mobile
            </h5>
          </li>
          <li>
            <span class="tool-icon"></span>
            <h5>
              Anonymous Sign-up
            </h5>
          </li>
        </ul>
      </section>

      <section class="tool-footer">
        <section>
          <span class="read-article-icon"></span>
          <a href="https://www.reddit.com/r/tutanota/comments/80meku/tutanota_review_is_this_secure_email_service/">
            Review
          </a>
        </section>
        <section>
          <span class="read-article-icon"></span>
          <a href="https://www.reddit.com/r/all">
            Reddit
          </a>
        </section>
        <section>
          <span class="read-article-icon"></span>
          <a href="https://nordvpn.com/blog/tutanota/">
            Tutanota versus Proton Mail
          </a>
        </section>
        <section>
          <span class="read-article-icon"></span>
          <a href="https://medium.com/@keybinApp/tutanota-email-service-review-4c29a78608e6">
            In Depth Review
          </a>
        </section>
        <section>
          <span class="watch-video-icon"></span>
          <a href="https://www.youtube.com/watch?v=2nW4ot1Yh_c">
            Tutanota Video Tutorial
          </a>
        </section>
        <!-- <section>
          <span class="watch-video-icon"></span>
          <a href="https://www.youtube.com/watch?v=2nW4ot1Yh_c">Tutanota Video Tutorial</a>
        </section> -->

      </section>
    </section>

    <!--  CTemplar  -->
    <section class="tool-highlight">

      <section class="tool-header">
        <h2>CTemplar</h2>
        <h4>Free & Paid</h4>
        <a href="https://ctemplar.com/pricing">
          <h5>Desktop & Mobile</h5>
          <span class="download-icon"></span>
        </a>
      </section>

      <section class="tool-summary">
        <p>
          Based in Iceland, a country with the strictest privacy laws, CTemplar
          boasts a comparable service to Proton Mail. They allow anonymous sign-up
          and don't log IP addresses. It comes with a very nice UI as well.
        </p>
        <p>
          Iceland has no data sharing agreements with other countries,
          a legal avenue that would allow other countries to request
          a users data.
        </p>
      </section>

      <section class="tool-features">
        <ul>
          <li>
            <span class="tool-icon"></span>
            <h5>
              Anonymous Sign-up
            </h5>
          </li>
          <li>
            <span class="tool-icon"></span>
            <h5>
              Open Source Encryption
            </h5>
          </li>
          <li>
            <span class="tool-icon"></span>
            <h5>
              Zero Access to User Data
            </h5>
          </li>
        </ul>
      </section>

      <section class="tool-footer">
        <section>
          <span class="read-article-icon"></span>
          <a href="https://blog.ctemplar.com/ctemplar-vs-protonmail/">
            CTemplar vs. Proton Mail
          </a>
        </section>
        <section>
          <span class="read-article-icon"></span>
          <a href="https://blog.ctemplar.com">
            Blog
          </a>
        </section>
        <section>
          <span class="read-article-icon"></span>
          <a href="https://twitter.com/RealCTemplar">
            Twitter
          </a>
        </section>
      </section>
    </section>

    <!--  Countermail  -->
    <section class="tool-highlight">

      <section class="tool-header">
        <h2>Countermail</h2>
        <h4>Paid</h4>
        <a href="https://countermail.com/" target="_blank">
          <h5>Desktop & Andriod</h5>
          <span class="download-icon"></span>
        </a>
      </section>

      <section class="tool-summary">
        <p>
          Based in Sweden, Counter Mail saves your emails
          on CD-ROMS to prevent data leaks. They also offer
          a USB-Hardware Key feature for another layer of security.
        </p>
      </section>

      <section class="tool-features">
        <ul>
          <li>
            <span class="tool-icon"></span>
            <h5>
              Encrypted with OpenPGP
            </h5>
          </li>
          <li>
            <span class="tool-icon"></span>
            <h5>
              Diskless Storage
            </h5>
          </li>
          <li>
            <span class="tool-icon"></span>
            <h5>
              Browser Based
            </h5>
          </li>
        </ul>
      </section>

      <section class="tool-footer">
        <section>
          <span class="read-article-icon"></span>
          <a href="https://www.unfinishedman.com/interview-simon-persson-founder-countermail-secure-email-provider/">
            Interview With Countermail Founder
          </a>
        </section>
        <section>
          <span class="watch-video-icon"></span>
          <a href="https://www.youtube.com/user/CounterMailCom">
            Countermail Youtube Channel
          </a>
        </section>
      </section>
    </section>

    <!--  Mail Fence  -->
    <section class="tool-highlight">

      <section class="tool-header">
        <h2>Mail Fence</h2>
        <h4>Free & Paid</h4>
        <a href="https://mailfence.com/" target="_blank">
          <h5>Desktop & Mobile</h5>
          <span class="download-icon"></span>
        </a>
      </section>

      <section class="tool-summary">
        <p>
          Based in Belgian, Mail Fence is a suite of email,
          calendars, documents and contacts. It has a great
          application interface and comes with the standard
          security features.

        </p>
      </section>

      <section class="tool-features">
        <ul>
          <li>
            <span class="tool-icon"></span>
            <h5>
              Encrypted with OpenPGP
            </h5>
          </li>
          <li>
            <span class="tool-icon"></span>
            <h5>
              Ad-Free
            </h5>
          </li>
          <li>
            <span class="tool-icon"></span>
            <h5>
              Desktop and Mobile
            </h5>
          </li>
          <li>
            <span class="tool-icon"></span>
            <h5>
              Transparent Reporting
            </h5>
          </li>
        </ul>
      </section>

      <section class="tool-footer">
        <section>
          <span class="read-article-icon"></span>
          <a href="https://anonymster.com/mailfence-review-secure-email/">
            Mail Fence Review
          </a>
        </section>
        <section>
          <span class="read-article-icon"></span>
          <a href="https://www.reddit.com/r/Mailfence/">
            Reddit
          </a>
        </section>
      </section>
    </section>

    <!--  Posteo  -->
    <section class="tool-highlight">

      <section class="tool-header">
        <h2>Posteo</h2>
        <h4>Paid</h4>
        <a href="https://posteo.de/en" target="_blank">
          <h5>Desktop & Mobile</h5>
          <span class="download-icon"></span>
        </a>
      </section>

      <section class="tool-summary">
        <p>
          Posteo is based in Germany, is ad-free and offers
          many of the same features common to secure email:
          anonymous sign-up and end to end encryption all for
          1 euro a month.
        </p>
        <p>
          Posteo publishes a transparency report that lists
          all the requests made by the government for user data,
          a leader in the German telecommunications industry.
          They also are powered by sustainable green energy!
        </p>

      </section>

      <section class="tool-features">
        <ul>
          <li>
            <span class="tool-icon"></span>
            <h5>
              Anonymous Sign-Up
            </h5>
          </li>
          <li>
            <span class="tool-icon"></span>
            <h5>
              1 Euro/Month, Pay Anonymously
            </h5>
          </li>
          <li>
            <span class="tool-icon"></span>
            <h5>
              Calendar and Address Book
            </h5>
          </li>
        </ul>
      </section>

      <section class="tool-footer">
        <section>
          <span class="read-article-icon"></span>
          <a href="https://www.reddit.com/r/tutanota/comments/80meku/tutanota_review_is_this_secure_email_service/">
            Review
          </a>
        </section>
        <section>
          <span class="read-article-icon"></span>
          <a href="https://www.reddit.com/r/all">
            Reddit
          </a>
        </section>
        <section>
          <span class="read-article-icon"></span>
          <a href="https://nordvpn.com/blog/tutanota/">
            Tutanota versus Proton Mail
          </a>
        </section>
        <section>
          <span class="read-article-icon"></span>
          <a href="https://medium.com/@keybinApp/tutanota-email-service-review-4c29a78608e6">
            In Depth Review
          </a>
        </section>
        <section>
          <span class="watch-video-icon"></span>
          <a href="https://www.youtube.com/watch?v=paTrSZ-girM">
            Posteo Review
          </a>
        </section>
        <!-- <section>
          <span class="watch-video-icon"></span>
          <a href="https://www.youtube.com/watch?v=2nW4ot1Yh_c">Tutanota Video Tutorial</a>
        </section> -->

      </section>
    </section>

    <!--  Runbox  -->
    <section class="tool-highlight">

      <section class="tool-header">
        <h2>Runbox</h2>
        <h4>Paid</h4>
        <a href="https://runbox.com/" target="_blank">
          <h5>Desktop & Mobile</h5>
          <span class="download-icon"></span>
        </a>
      </section>

      <section class="tool-summary">
        <p>
          Based in Norway, Runbox runs their servers with
          hydropower. Runbox is a paid service, but the cheap
          tier starts at $20/Annually.
        </p>
        <p>

        </p>

      </section>

      <section class="tool-features">
        <ul>
          <li>
            <span class="tool-icon"></span>
            <h5>
              Encrypted with OpenPGP
            </h5>
          </li>
          <li>
            <span class="tool-icon"></span>
            <h5>
              Cheap Plans
            </h5>
          </li>
          <li>
            <span class="tool-icon"></span>
            <h5>
              Desktop and Mobile
            </h5>
          </li>
        </ul>
      </section>

      <section class="tool-footer">
        <section>
          <span class="read-article-icon"></span>
          <a href="https://www.pcmag.com/review/360754/runbox">
            Runbox Review
          </a>
        </section>
        <!-- <section>
          <span class="watch-video-icon"></span>
          <a href="https://www.youtube.com/watch?v=MOONFGlzfFY">Hushmail Demo</a>
        </section> -->
      </section>
    </section>

    <!--  Hushmail  -->
    <section class="tool-highlight">

      <section class="tool-header">
        <h2>Hushmail</h2>
        <h4>Paid</h4>
        <a href="https://www.hushmail.com/" target="_blank">
          <h5>Desktop & Mobile</h5>
          <span class="download-icon"></span>
        </a>
      </section>

      <section class="tool-summary">
        <p>
          Based in Canada, Hushmail provides secure email
          services to industries and corporations but they do
          offer a personal account for $50.
        </p>
        <p>
          Hushmail has an awesome user interface and is aimed
          at less technical users.
          <b>Does not allow anonymous sign-up.</b>
        </p>

      </section>

      <section class="tool-features">
        <ul>
          <li>
            <span class="tool-icon"></span>
            <h5>
              Encrypted with OpenPGP
            </h5>
          </li>
          <li>
            <span class="tool-icon"></span>
            <h5>
              Ad-Free
            </h5>
          </li>
          <li>
            <span class="tool-icon"></span>
            <h5>
              Desktop and Mobile
            </h5>
          </li>
        </ul>
      </section>

      <section class="tool-footer">
        <section>
          <span class="read-article-icon"></span>
          <a href="https://vpnpick.com/hushmail-review/">
            Hushmail Review
          </a>
        </section>
        <section>
          <span class="watch-video-icon"></span>
          <a href="https://www.youtube.com/watch?v=MOONFGlzfFY">
            Hushmail Demo
          </a>
        </section>
      </section>
    </section>


  </section>
  <footer class="page-footer">
    {% include nav-page.html prev="/passwords/" next="/email/best-practices" %}
  </footer>
</article>