---
layout: guide
title: Best Practices
permalink: /email/best-practices
---

<article class="chapter-wrapper">
  {% include nav-page.html prev="/email/alternatives" next="/email/phishing" %}
  <section class="chapter-contents">
    <section class="chapter-section section-header">
      <header>
        <span class="email-best-practices-icon"></span>
        <h1>Best Practices</h1>
      </header>

      <article>

        <ul>
          <li>
            <span></span>
            <p>
              Have more than one email address, perhaps one for newsletters and leisurely stuff
            </p>
          </li>
          <li>
            <span></span>
            <p>
              Use different passwords for each email account, and use a strong one. Use a password generator that comes with a password manager!
            </p>
          </li>
          <li>
            <span></span>
            <p>
              Do not click on random emails and the links or document attachments in them. That is how you get hacked. It is called phishing
            </p>
          </li>
          <li>
            <span></span>
            <p>
              Be careful about clicking links that look to be an 'official website', hackers camouflage their malicious attacks
            </p>
          </li>
          <li>
            <span></span>
            <p>
              It is a good idea to not send passwords, bank details, confidential information over an email. Just not smart especially if you are someone important in a business or politician
            </p>
          </li>
          <li>
            <span></span>
            <p>
              Try not to connect third party apps to your account, what if that 3rd party gets hacked? They potentially have a way into your account now.
            </p>
          </li>
          <li>
            <span></span>
            <p>
              Don't download images, set your email settings to simple or text only
            </p>
          </li>
          <li>
            <span></span>
            <p>
              Switch to a secure email service! Google reads your emails and everything you wrote in them!
            </p>
          </li>
          <li>
            <span></span>
            <p>
              If you are using company email on public wi-fi, then use a VPN or just don't do it
            </p>
          </li>
          <li>
            <span></span>
            <p>
              Delete old email, make it a quarterly or at least annual habit. Less is more!
            </p>
          </li>
        </ul>








      </article>
    </section>
  </section>

  <footer class="page-footer">
    {% include nav-page.html prev="/email/alternatives" next="/email/phishing" %}
  </footer>
</article>