---
layout: guide
title: Best Practices
permalink: /email/best-practices
---

<article class="chapter-wrapper">
  {% include nav-page.html prev="/email/alternatives" next="/email/phishing" %}
  <section class="chapter-contents">
    <section class="chapter-section section-header">
      <header>
        <span class="email-best-practices-icon"></span>
        <h1>Best Practices</h1>
      </header>

      <article>
        <p>

        </p>
        Email is the first way in for many attacks.
        Phishing scams are designed to look official, they are easy to catch.
        Humans are the weakest link when it comes to defending cybersecurity attacks like phishing.

        <p>
          While most campaigns target employees at large corporations,
          scammers target individuals from email lists from previous hacks or just at random.
          Emails with "Check Your Password" or "You Have A New Voicemail" play
          <a href="https://blog.knowbe4.com/q3-2018-top-clicked-phishing-email-subjects">
            into our minds
            without realizing if they are from trustworthy sources
          </a>.
        </p>

      </article>
    </section>

    <section class="chapter-section">
      <section class="section-content section-risk">
        <header>
          <!-- <span class="browser-warning-icon"></span> -->
          <h2>Email Ideas</h2>
        </header>

        <ul class="risk-list">
          <li>
            <section>
              <span class="accounts-multiple-icon"></span>
            </section>
            <h4>Multiple Email Accounts</h4>
            <p>
              Have more than one email address, perhaps one for newsletters and leisurely stuff.
              A backup is useful for recieving verification emails needed for other accounts.
            </p>
          </li>
          <li>
            <section>
              <span class="password-icon"></span>
            </section>
            <h4>Different Passwords for Each Account</h4>
            <p>
              Use different passwords for each email account, and <a href="{{site.baseurl}}passwords/choosing-passwords">use a strong one</a>.
              Use a <a href="{{site.baseurl}}passwords/managers">password generator that comes with a password manager</a>.
            </p>
          </li>
          <li>
            <section>
              <span class="question-mark-icon"></span>
            </section>
            <h4>Don't Click on Random Email</h4>
            <p>
              Do not click on random emails and the links or document attachments in them.
              That is how you get hacked. It is called <b>phishing</b>.
            </p>
          </li>
          <li>
            <section>
              <span class="search-icon"></span>
            </section>
            <h4>Double Check The Sender Address</h4>
            <p>
              Be careful about clicking links that look to be an 'official website',
              hackers camouflage their malicious attacks.
            </p>
          </li>
          <li>
            <section>
              <span class="personal-information-icon"></span>
            </section>
            <h4>Don't Send Personal or Financial Information</h4>
            <p>
              It is a good idea to not send passwords, bank details, confidential information over an email.
              Just not smart especially if you are someone important in a business or politician.
              Use an encrypted email service for personal or financial information.
            </p>
          </li>
          <li>
            <section>
              <span class="risk-icon"></span>
            </section>
            <h4>Don't Trust Third Party Apps</h4>
            <p>
              Try not to connect third party apps to your account, what if that 3rd party gets hacked?
              They potentially have a way into your account now.
            </p>
          </li>
          <li>
            <section>
              <span class="email-secure-icon"></span>
            </section>
            <h4>Use An Encrypted Service</h4>
            <p>
              Switch to a secure email service! Many free services read your email for ads.
              Read our article about <a href="{{site.baseurl}}email/alternatives">encrypted email services</a>.
            </p>
          </li>
          <li>
            <section>
              <span class="router-wifi-icon"></span>
            </section>
            <h4>Company Email on Wifi</h4>
            <p>
              If you are using company email on public wi-fi, then use a VPN or just don't do it.
              Especially if you are someone important.
            </p>
          </li>
          <li>
            <section>
              <span class="email-icon"></span>
            </section>
            <h4>Old Email is A Potential Target</h4>
            <p>
              Delete old email, make it a quarterly or at least annual habit. Less is more!
              Apply the <a href="https://en.wikipedia.org/wiki/Pareto_principle">80/20 Rule</a>.
            </p>
          </li>
        </ul>
      </section>
    </section>
  </section>

  <footer class="page-footer">
    {% include nav-page.html prev="/email/alternatives" next="/email/phishing" %}
  </footer>
</article>