---
layout: guide
title: Email
permalink: /email/
---



<article class="chapter-wrapper">
  {% include nav-page.html prev="/passwords/" next="/email/alternatives" %}
  <section class="chapter-contents">
    <div class="chapter-section">
      <h1>Email</h1>
      <p>
        Gmail owned by Google reads your email to target you with ads. I repeat, they read your emails. Not cool for some of us.
        Outlook is owned by Microsoft and Yahoo has had so many data breaches it should be out of business.
      </p>
      <p>
        If you still want to use gmail, they do have top security teams that make gmail very secure, then check out their <a href="https://landing.google.com/advancedprotection/">Advanced Protection</a>
      </p>
      <p>
        Here are some secure services that put your privacy first. No email reading here.
      </p>

      <h3>Risks</h3>
      <ul>
        <li>
          Free services make you the product and collect your data
        </li>
        <li>
          Gmail reads your email for advertising. They read your email!!!
        </li>
        <li>
          Email is not encrypted
        </li>
        <li>
          Fake emails for phishing
        </li>
      </ul>


      <h3>Fixes</h3>
      <ul>
        <li>
          <a href="{{site.baseurl}}email/alternatives">Email Alternatives</a> that don't track you, block ads and increase speed and performance.
        </li>
        <li>
          <a href="{{site.baseurl}}email/best-practices">email Extensions</a> that block ad tracking, reduce your digital fingerprint and increase online anonymity.
        </li>
        <li>
          <a href="{{site.baseurl}}email/phishing">HTTPS</a> encrypts your web surfing.
        </li>
        <li>
          <a href="{{site.baseurl}}email/links">Private Browsing</a> does not hide your web surfing from your employer or ISP.
        </li>
      </ul>
    </div>
  </section>

  <footer class="page-footer">
    {% include nav-page.html prev="/passwords/" next="/email/alternatives" %}
  </footer>
</article>