---
layout: guide
title: Email
permalink: /email/
---

<article class="chapter-wrapper">
  {% include nav-page.html prev="/passwords/" next="/email/alternatives" %}
  <section class="chapter-contents">
    <section class="chapter-section">
      <section class="section-content chapter-intro">
        <header>
          <span class="email-icon"></span>
          <h1>Email</h1>
        </header>

        <section>

          <article>
            <p>
              Google used to read your email, granted this was an automated process
              done by computers but it is illegal in the U.S. to read someone else's mail.
              Google has dropped this practice, but it says a lot about how they view users.
            </p>
            <p>
              If you still want to use gmail, they do have top security teams that make gmail very secure,
              then check out their
              <a href="https://landing.google.com/advancedprotection/">
                Advanced Protection
              </a>
            </p>
            <p>
              Outlook is owned by Microsoft and Yahoo has had so
              many data breaches it should be out of business.
            </p>
          </article>

          <ul>
            <li>
              <span class="watch-video-icon"></span>
              <a href="https://www.youtube.com/watch?v=PJo5yOtu7o8">
                SMTP: The Email Protocol
              </a>
            </li>
            <li>
              <span class="read-article-icon"></span>
              <a href="https://github.com/OpenTechFund/secure-email#readme">
                Next Generation Email Tools
              </a>
            </li>
          </ul>

        </section>

      </section>

    </section>

    <section class="chapter-section">
      <section class="section-content section-risk">
        <header>
          <!-- <span class="browser-warning-icon"></span> -->
          <h2>Email Risks</h2>
        </header>

        <ul>
          <li>
            <span class="email-person-profile-icon"></span>
            <h4>Free = You Are The Product</h4>
            <p>
              Free services make you the product and collect your data
            </p>
          </li>
          <li>
            <span class="spying-icon"></span>
            <h4>They Read Your Email</h4>
            <p>
              Many free email providers read your email
            </p>
          </li>
          <li>
            <span class="unlock-icon"></span>
            <h4>Unencrypted</h4>
            <p>
              Some services encrypt like Gmail, but email is not safe overall
            </p>
          </li>
          <li>
            <span class="email-scammer-icon"></span>
            <h4>Phishing Scams</h4>
            <p>
              Scammers use official looking domain names to fool people
            </p>
          </li>
        </ul>
      </section>
    </section>

    <section class="chapter-section">
      <section class="section-fixes">
        <header>
          <h2>Email Fixes</h2>
        </header>

        <ul class="chapter-links">
          <a href="{{site.baseurl}}email/alternatives" class="section-link">
            <section>
              <span class="lock-icon"></span>
              <h4>Use Other Secure Services</h4>
              <p>
                Increase speed, privacy, and block ads with a new service
              </p>
            </section>
          </a>
          <a href="{{site.baseurl}}email/best-practices" class="section-link">
            <section>
              <span class="router-checklist-icon"></span>
              <h4>Email Best Practices</h4>
              <p>
                Some email advice for concerned corresponders
              </p>
            </section>
          </a>
          <a href="{{site.baseurl}}email/phishing" class="section-link">
            <section>
              <span class="private-eye-icon"></span>
              <h4>Detect Phishing Scams</h4>
              <p>
                Scammers use sophisticated look-alike links to fool us
              </p>
            </section>
          </a>
          <a href="{{site.baseurl}}email/links" class="section-link">
            <section>
              <span class="study-icon"></span>
              <h4>Learn More</h4>
              <p>
                Learn more about email in the 21st century
              </p>
            </section>

          </a>
        </ul>
      </section>
    </section>

  </section>



  <footer class="page-footer">
    {% include nav-page.html prev="/passwords/" next="/email/alternatives" %}
  </footer>
</article>