---
layout: guide
title: Links
permalink: /email/links
---


<article class="chapter-wrapper">
  {% include nav-page.html prev="/email/phishing" next="/mobile-devices" %}
  <section class="chapter-contents">
    <section class="chapter-section section-header">
      <header>
        <span class="email-icon"></span>
        <h1>DIY Email</h1>
      </header>

      <article>
        <p>
          Thinking of setting up your own email server?
          <a href="https://thehelm.com/">
            Helm offers a personal email server that you keep in your house.
          </a>
          Setting a homebrew solution it tough and
          probably not worth the hassle but check it out.
        </p>

        <ul>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://www.digitalocean.com/community/tutorials/why-you-may-not-want-to-run-your-own-mail-server">
              Why You May Not Want to Run Your Own Mail Server
            </a>
          </li>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://www.geekwire.com/2015/why-you-shouldnt-try-to-host-your-own-email/">
              Why you shouldn’t try to host your own email
            </a>
          </li>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://mailinabox.email">
              DIY Mail in a Box
            </a>
          </li>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://www.c0ffee.net/blog/mail-server-guide/">
              Setting up a Mail Server
            </a>
          </li>
          <li>
            <span class="tool-icon"></span>
            <a href="https://thehelm.com/">
              Helm: Personal Email Server
            </a>
          </li>
          <li>
            <span class="tool-icon"></span>
            <a href="https://github.com/cullum/dank-selfhosted">
            OpenBSD Self Hosted Email, Web, DNS, XMPP, and ZNC
            </a>
          </li>
        </ul>

      </article>
    </section>
  </section>

  <footer class="page-footer">
    {% include nav-page.html prev="/email/phishing" next="/mobile-devices" %}
  </footer>
</article>