---
layout: guide
title: Links
permalink: /email/links
---


<article class="chapter-wrapper">
  {% include nav-page.html prev="/email/phishing" next="/mobile-devices/" %}
  <section class="chapter-contents">
    <section class="chapter-section section-header">
      <header>
        <span class="email-icon"></span>
        <h1>DIY Email</h1>
      </header>

      <article>
        <p>
          Thinking of setting up your own email server?
          It's tough and probably not worth the hassle
          but check it out
        </p>

        <ul>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://www.digitalocean.com/community/tutorials/why-you-may-not-want-to-run-your-own-mail-server" rel="nofollow">Why You May Not Want to Run Your Own Mail Server</a>
          </li>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://www.geekwire.com/2015/why-you-shouldnt-try-to-host-your-own-email/" rel="nofollow">Why you shouldn’t try to host your own email</a>
          </li>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://mailinabox.email" rel="nofollow">DIY Mail in a Box</a>
          </li>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://www.c0ffee.net/blog/mail-server-guide/" rel="nofollow">Setting up a Mail Server</a>
          </li>
        </ul>

      </article>
    </section>
  </section>

  <footer class="page-footer">
    {% include nav-page.html prev="/email/phishing" next="/mobile-devices/" %}
  </footer>
</article>
