---
layout: guide
title: Phishing
permalink: /email/phishing
---

<article class="chapter-wrapper">
  {% include nav-page.html prev="/email/best-practices" next="/email/links" %}
  <section class="chapter-contents">
    <section class="chapter-section section-header">
      <header>
        <span class="email-phishing-icon"></span>
        <h1>Email Phishing</h1>
      </header>
      <article>
        <p>
          Your email is <a href="http://justindavis.co/2018/03/10/how-I-found-your-email/">very easy to find</a>.
        </p>
        <ul>
          <li>
            <span class="read-article-icon"></span>
            <a href="http://justindavis.co/2018/03/10/how-I-found-your-email/">How I Found Your Email</a>
          </li>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://heimdalsecurity.com/blog/abcs-detecting-preventing-phishing/">Detecting & Preventing Phishing Emails</a>
          </li>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://www.avg.com/en/signal/what-is-phishing#types-of-phishing-attacks">Types of Phishing Attacks</a>
          </li>
          <li>
            <span class="read-article-icon"></span>
            <a href="http://www.phishing.org/10-ways-to-avoid-phishing-scams">Phishing.Org</a>
          </li>
          <li>
            <span class="watch-video-icon"></span>
            <a href="https://www.youtube.com/watch?v=R12_y2BhKbE">Google On Phishing Scams</a>
          </li>
          <li>
            <span class="watch-video-icon"></span>
            <a href="https://www.youtube.com/watch?v=jfnA7UmlZkE">Spotting A Phishing Email</a>
          </li>
          <li>
            <span class="watch-video-icon"></span>
            <a href="https://www.youtube.com/watch?v=BBsneACY9QU">Preventing Email Phishing</a>
          </li>
          <li>
            <span class="watch-video-icon"></span>
            <a href="https://www.youtube.com/watch?v=_QdPW8JrYzQ">Scamming the Scammers</a>
          </li>
        </ul>
      </article>

    </section>
    <section class="chapter-section">
      <section class="section-content section-risk">
        <header>
          <!-- <span class="browser-warning-icon"></span> -->
          <h2>Do This When Getting A Random Email</h2>
        </header>

        <ul class="risk-list">
          <li>
            <section>
              <span class="eye-icon"></span>
            </section>
            <h4>Look, Don't Click</h4>
            <p>
              Verify the sender address, look for spelling mistakes, ask who would send this to me?
            </p>
          </li>
          <li>
            <section>
              <span class="link"></span>
            </section>
            <h4>Links Could Be Malicious Code</h4>
            <p>
              Clicking on links from random emails can take you to a malicious site
            </p>
          </li>
          <li>
            <section>
              <span class="email-hover-over-icon"></span>
            </section>
            <h4>Check The Sender Address</h4>
            <p>
              Hover over the email sender and see if it matches
              the website they say they are from.
              Do a google search for the email.
            </p>
          </li>
          <li>
            <section>
              <span class="browser-search-icon"></span>
            </section>
            <h4>Check The Domain Name</h4>
            <p>
              Misleading domain names that look like apple.fakewebsite.com are meant to fool you.
              If the domain name looks suspicious, it probably is.
            </p>
          </li>
          <li>
            <section>
              <span class="text-file-icon"></span>
            </section>
            <h4>Bad Spelling</h4>
            <p>
              Spelling mistakes in the email is a dead give away.
            </p>
          </li>
          <li>
            <section>
              <span class="email-secure-icon"></span>
            </section>

            <h4>Vague Greetings</h4>
            <p>
              Vague greetings are common phishing openers, most brands will use your name!
            </p>
          </li>
          <li>
            <section>
              <span class="email-person-profile-icon"></span>
            </section>
            <h4>No Contact Details</h4>
            <p>
              Lack of contact information at the end of the email,
              most legit businesses want their contact information visible
            </p>
          </li>
          <li>
            <section>
              <span class="anonymous-profile-icon"></span>
            </section>
            <h4>I'm From The Government</h4>
            <p>
              Appears to be from the government.
              Most government agencies require official paperwork.
              Call the agency to verify the matter at hand.
            </p>
          </li>
          <li>
            <section>
              <span class="purchase-icon"></span>
            </section>
            <h4>Money Scams</h4>
            <p>
              Asking for money is a dead give away.
              Heartwarming stories still fool people.

            </p>
          </li>
        </ul>
      </section>
    </section>
  </section>

  <footer class="page-footer">
    {% include nav-page.html prev="/email/best-practices" next="/email/links" %}
  </footer>
</article>