---
layout: guide
title: DNS
permalink: /dns/
---


<article class="chapter-wrapper">
  {% include nav-page.html prev="/browser" next="/dns/services" %}
  <section class="chapter-contents">

    <section class="chapter-section">

      <section class="section-content chapter-intro">
        <header>
          <span class="dns-phonebook-icon"></span>
          <h1>DNS</h1>
        </header>

        <section>

          <article>
            <p>
              DNS is the phonebook of the Internet.
              It translates human readable domain names like apple.com to computer addresses such as 11.423.35.1.
              DNS is the first step of looking up a webpage.
            </p>

            <p>
              Most of us use the DNS servers provided by our ISP.
              DNS in not encrypted and your ISP can easily see all your internet DNS requests.
              Once again, your browser's private or incognito mode does not anonymize your internet requests.
            </p>

            <p>
              Checkout out this <a href="https://howdns.works">illustrated comic guide</a>.
            </p>
          </article>

          <ul>
            <li>
              <a href="https://howdns.works">illustrated comic guide</a>
            </li>
            <li>
              <a href="https://howdns.works">illustrated comic guide</a>
            </li>
            <li>
              <a href="https://howdns.works">illustrated comic guide</a>
            </li>
          </ul>

        </section>

      </section>

    </section>

    <section class="chapter-section">
      <section class="section-content section-risk">
        <header>
          <!-- <span class="browser-warning-icon"></span> -->
          <h2>DNS Risks</h2>
        </header>

        <ul>
          <li>
            <span class="unlock-icon"></span>
            <section>
              <h4>Unencrypted</h4>
              <p>
                DNS queries are sent in clear text (using UDP or TCP) which means passive eavesdroppers can observe all the DNS lookups performed
              </p>
            </section>
          </li>
          <li>
            <span class="data-sharing-icon"></span>
            <section>
              <h4>ISP's May Share DNS</h4>
              <p>
                ISP can share this information with third-parties in ways not known or obvious to end users
              </p>
            </section>
          </li>
          <li>
            <span class="data-lookup-icon"></span>
            <section>
              <h4>Embedded User Information</h4>
              <p>
                Some ISPs embed user information (e.g. a user id or MAC address) within DNS queries that go to the ISPs resolver in order to provide services such as Parental Filtering
              </p>
            </section>
          </li>
          <li>
            <span class="signal-icon"></span>
            <section>
              <h4>DNS Leaks</h4>
              <p>
                Note that even when using a VPN some VPNs will still leak your DNS queries by sending them unencrypted to your ISP
              </p>
            </section>
          </li>
        </ul>
      </section>
    </section>

    <section class="chapter-section">
      <section class="section-fixes">
        <header>
          <h2>DNS Fixes</h2>
        </header>
        <ul class="chapter-links">
          <a href="{{site.baseurl}}dns/services" class="section-link">
            <span class="browser-blank-icon"></span>
            <section>
              <h4>DNS Service</h4>
              <p>
                Increase speed, privacy, and block ads with a new service
              </p>
            </section>
          </a>
          <a href="{{site.baseurl}}dns/hosts" class="section-link">
            <span class="extension-icon"></span>
            <section>
              <h4>HOST Files</h4>
              <p>
                Add domain names for blacklisting bad actor websites
              </p>
            </section>
          </a>
          <a href="{{site.baseurl}}dns/encrypted" class="section-link">
            <span class="private-eye-icon"></span>
            <section>
              <h4>Encrypt Your DNS Queries</h4>
              <p>
                Encrypt your DNS requests with some code
              </p>
            </section>
          </a>
          <a href="{{site.baseurl}}dns/links" class="section-link">
            <span class="signal-icon"></span>
            <section>
              <h4>Learn More</h4>
              <p>
                Learn more about how DNS works
              </p>
            </section>

          </a>
        </ul>
      </section>
    </section>

  </section>



  <footer class="page-footer">
    {% include nav-page.html prev="/browser" next="/dns/services" %}
  </footer>
</article>