---
layout: guide
title: Encrytped DNS
permalink: /dns/encryption
---

<article class="chapter-wrapper">
  {% include nav-page.html prev="/dns/hosts" next="/search-engines" %}
  <section class="chapter-contents">
    <section class="chapter-section section-header">
      <header>
        <span class="page-lock-icon"></span>
        <h1>Encrypted DNS</h1>
      </header>
      <article class="">
        <p>
          In the early days of the Internet, security was not at the fore
          front of the designers. It was still a new technology and many
          parts of the Internet are still not secure.
          DNS is one of those
          areas where your search query is sent in
          <a href="https://serverfault.com/questions/447653/does-ssl-also-encrypt-the-dns-address">
            plain text even if you are using HTTPS.
          </a>
        </p>
        <p>
          There are <a href="https://www.hpe.com/us/en/insights/articles/dns-security-still-an-issue-1810.html">
            several projects to encrypt DNS
          </a>
          but no standard has been agreed upon and implemented.
          Securing DNS requires some technical know how and it
          has some drawbacks of being complicated and is sometimes slower on the network.
        </p>
        <p>
          <a href="https://dnsprivacy.org/wiki/display/DP/DNS+Privacy+-+The+Problem">DNSPrivacy.Org</a>
          an advocacy group for DNS security and privacy, lists some of the
          problems with our current DNS technology:
        </p>

        <section class="blockquote">
          <blockquote class="blockquote-excerpt" cite="https://dnsprivacy.org/wiki/display/DP/DNS+Privacy+-+The+Problem">
            <p>
              "Those queries can reveal not only what websites an individual
              visits but also meta data about other services such as the
              domains of email contacts or chat services."
            </p>
            <p>
              "However DNS queries are sent in clear text
              (using UDP or TCP) which means passive eavesdroppers
              can observe all the DNS lookups performed."
            </p>
            <p>
              "Some ISPs log DNS queries at the resolver and
              share this information with third-parties
              in ways not known or obvious to end users."
            </p>
          </blockquote>
          <footer>
            From <a href="https://dnsprivacy.org/wiki/display/DP/DNS+Privacy+-+The+Problem">DNSPrivacy.org</a>
          </footer>
        </section>

        <ul>
          <li>
            <span class="tool-icon"></span>
            <a href="https://dnsprivacy.org/wiki/display/DP/DNS+Privacy+Clients">
              DNS Privacy Clients
            </a>
          </li>
          <li>
            <span class="tool-icon"></span>
            <a href="https://blog.mozilla.org/security/2018/10/18/encrypted-sni-comes-to-firefox-nightly/">
              Firefox and Encrypted SNI
            </a>
          </li>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://github.com/drduh/macOS-Security-and-Privacy-Guide#dnscrypt">
              DNS Crypt, dnsmasq and DNSSEC for Mac
            </a>
          </li>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://hacks.mozilla.org/2018/05/a-cartoon-intro-to-dns-over-https/">
              DNS over HTTPS
            </a>
          </li>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://www.theregister.co.uk/2018/10/23/paul_vixie_slaps_doh_as_dns_privacy_feature_becomes_a_standard/">
              DNS over HTTPS is Bad?
            </a>
          </li>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://www.howtogeek.com/203139/how-to-encrypt-your-dns-for-more-secure-browsing/">
              DNS Crypt for Windows
            </a>
          </li>
          <li>
            <span class="watch-video-icon"></span>
            <a href="https://www.youtube.com/watch?v=PWLffkqw_yY&t=597s">
              DNS Crypt for Windows
            </a>
          </li>
          <li>
            <span class="watch-video-icon"></span>
            <a href="https://www.youtube.com/watch?v=TQAkHSVvDgY">
              DNS Crypt for Mac
            </a>
          </li>
          <!-- <li>
            <span class="watch-video-icon"></span>
            <a href="https://www.youtube.com/watch?v=Vf6MXKnglt4">PF Sense for Encrypted DNS</a>
          </li> -->
        </ul>
      </article>
    </section>
  </section>

  <footer class="page-footer">
    {% include nav-page.html prev="/dns/hosts" next="/search-engines" %}
  </footer>
</article>