---
layout: guide
title: DNS - Hosts
permalink: /dns/hosts
---

<article class="chapter-wrapper">
  {% include nav-page.html prev="/dns/services" next="/dns/encryption" %}
  <section class="chapter-contents">
    <section class="chapter-section section-header">
      <header>
        <span class="text-file-icon"></span>
        <h1>Hosts File</h1>
      </header>
      <article>
        <p>
          The <a href="https://en.wikipedia.org/wiki/Hosts_(file)">Hosts File</a> is a simple text document that
          maps domain names to IP addresses.
          Back in the early days of the Internet, there was no Domain Name System and people kept the
          IP Address and domain name in a file called hosts.
        </p>
        <p>
          Typically, when making a web request your computer will check this file and if
          no entry exists it will query a DNS server, to find the IP Address for a certain website.
          Your ISP will assign you a DNS server which they control and can log and record your activities.
        </p>
        <p>.
          A hosts file can <a href="https://www.bleepingcomputer.com/tutorials/hosts-files-explained/">speed up performance, block known ad/spyware/malicious websites before your browser even sends an HTTP request</a>.
          A <a href="https://github.com/StevenBlack/hosts#what-is-a-hosts-file">curated and compiled list of hosts files</a>
          are useful for fending off these bad websites.
          Beware, some websites you go to might be blocked, so read through a
          file to see what is allowed or not.
        </p>
        <p>
          The main idea is to set a bad website to the IP Address of 0.0.0.0 which blocks the call to the evil site.
        </p>

        <ul>
          <li>
            <span class="watch-video-icon"></span>
            <a href="https://www.youtube.com/watch?v=a4S6FU5RdR0">The Hosts File Explained</a>
          </li>
          <li>
            <span class="watch-video-icon"></span>
            <a href="https://www.youtube.com/watch?v=2HKiE8bo8dA">Edit Hosts File on Mac and Windows</a>
          </li>
          <li>
            <span class="watch-video-icon"></span>
            <a href="https://www.youtube.com/watch?v=sVAl0jqsFfs">Block Websites on Mac</a>
          </li>
        </ul>
      </article>
    </section>
  </section>

  <footer class="page-footer">
    {% include nav-page.html prev="/dns/services" next="/dns/encryption" %}
  </footer>
</article>