---
layout: guide
title: DNS - Services
permalink: /dns/services
---

<article class="chapter-wrapper">
  {% include nav-page.html prev="/dns" next="/dns/hosts" %}
  <section class="chapter-contents">
    <section class="chapter-section section-header">
      <header>
        <span class="dns-phonebook-icon"></span>
        <h1>DNS Services</h1>
      </header>
      <article>
        <p>
          Before you can visit a site, you need to have the IP address.
          Your computer connects to DNS servers to get the IP address.
          Your ISP provides DNS servers,
          but you can point to other services that offer a more secure and potentially faster experience.
          Plus, all you need to do is change some numbers on your computer or router.
        </p>
        <p>
          Cloudflare is a leader in the realm of DNS privacy/security and
          offer an awesome DNS service called
          <a href="https://developers.cloudflare.com/1.1.1.1/setting-up-1.1.1.1/">
            1.1.1.1
          </a>
        </p>
        <p>
          The good folks are <a href="https://www.lifewire.com">Lifewire.com</a> have tons of great articles on
          the how and why for using DNS services.
        </p>
        <ul>
          <li>
            <span class="tool-icon"></span>
            <a href="https://developers.cloudflare.com/1.1.1.1/setting-up-1.1.1.1/">
              Set Up Cloudlare 1.1.1.1
            </a>
          </li>
          <li>
            <span class="tool-icon"></span>
            <a href="https://www.lifewire.com/how-to-change-dns-server-settings-2617979">
              How to Change DNS Server Settings on Home Computer Networks
            </a>
          </li>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://www.lifewire.com/free-and-public-dns-servers-2626062">
              List of Free and Public DNS Servers
            </a>
          </li>
          <li>
            <span class="watch-video-icon"></span>
            <a href="https://blog.thousandeyes.com/ranking-performance-public-dns-providers-2018/">
              DNS Performance Video Report
            </a>
          </li>
        </ul>
        <h2>DNS Tools</h2>
        <p>
          DNS can leak information that would reveal your search query.
        </p>
        <ul>
          <li>
            <span class="tool-icon"></span>
            <a href="https://www.dnsleaktest.com">
              DNS Leak Test
            </a>
          </li>
          <li>
            <span class="tool-icon"></span>
            <a href="http://ipv6leak.com">
              IPV6 Leak Test
            </a>
          </li>
        </ul>
      </article>


    </section>
  </section>


  <footer class="page-footer">
    {% include nav-page.html prev="/dns" next="/dns/hosts" %}
  </footer>
</article>