---
layout: guide
title: Browser Alternatives
permalink: /browser/alternatives
---

<article class="chapter-wrapper">
  {% include nav-page.html prev="/browser/" next="/browser/blockers" %}
  <section class="chapter-contents">
    <section class="chapter-section">
      <section class="section-content section-header">
        <header>
          <span class="browser-multiple-icon"></span>
          <h1>Alternative Browsers</h1>
        </header>

        <article>
          <p>
            Try out these alternatives. They each offer privacy and security features built-in.
            Check your app store for iOS and Android versions as well.
          </p>
          <p>
            Try out these alternatives. They each offer privacy and security features built-in.
            Check your app store for iOS and Android versions as well.
          </p>
          <p>
            Try out these alternatives. They each offer privacy and security features built-in.
            Check your app store for iOS and Android versions as well.
          </p>
          <p>
            Try out these alternatives. They each offer privacy and security features built-in.
            Check your app store for iOS and Android versions as well.
          </p>
        </article>
      </section>

      <section class="tool-highlight">

        <section class="tool-header">
          <h2>Brave</h2>
        </section>

        <section class="tool-summary">
          <p>
            Brave was founded by the Brendan Eich, the creator of Javascript (the language of the browser).
            Brave has privacy and security built into the browser.
            Other browsers will require multiple extensions to get the same funtionality as Brave.
          </p>
        </section>

        <section class="tool-features">
          <ul>
            <li>
              Ad Blockers
            </li>
            <li>
              Cookie Blocking
            </li>
            <li>
              Fingerprinting Protection
            </li>
            <li>
              HTTPS Everywhere
            </li>
            <li>
              Phishing/Malware Blocker
            </li>
            <li>
              Private Search with DuckDuckGo!
            </li>
            <li>
              Experimental TOR Browser
            </li>
          </ul>
        </section>

        <section class="tool-footer">
          <a href="https://www.brave.com">Brave Browser</a>
        </section>
      </section>

      <section class="tool-highlight">

        <section class="tool-header">
          <h2>Brave</h2>
        </section>

        <section class="tool-summary">
          <p>
            Brave was founded by the Brendan Eich, the creator of Javascript (the language of the browser).
            Brave has privacy and security built into the browser.
            Other browsers will require multiple extensions to get the same funtionality as Brave.
          </p>
        </section>

        <section class="tool-features">
          <ul>
            <li>
              Ad Blockers
            </li>
            <li>
              Cookie Blocking
            </li>
            <li>
              Fingerprinting Protection
            </li>
            <li>
              HTTPS Everywhere
            </li>
            <li>
              Phishing/Malware Blocker
            </li>
            <li>
              Private Search with DuckDuckGo!
            </li>
            <li>
              Experimental TOR Browser
            </li>
          </ul>
        </section>

        <section class="tool-footer">
          <a href="https://www.brave.com">Brave Browser</a>
        </section>
      </section>

      <section class="tool-highlight">

        <section class="tool-header">
          <h2>Brave</h2>
        </section>

        <section class="tool-summary">
          <p>
            Brave was founded by the Brendan Eich, the creator of Javascript (the language of the browser).
            Brave has privacy and security built into the browser.
            Other browsers will require multiple extensions to get the same funtionality as Brave.
          </p>
        </section>

        <section class="tool-features">
          <ul>
            <li>
              Ad Blockers
            </li>
            <li>
              Cookie Blocking
            </li>
            <li>
              Fingerprinting Protection
            </li>
            <li>
              HTTPS Everywhere
            </li>
            <li>
              Phishing/Malware Blocker
            </li>
            <li>
              Private Search with DuckDuckGo!
            </li>
            <li>
              Experimental TOR Browser
            </li>
          </ul>
        </section>

        <section class="tool-footer">
          <a href="https://www.brave.com">Brave Browser</a>
        </section>
      </section>

    </section>
  </section>

  <footer class="page-footer">
    {% include nav-page.html prev="/browser" next="/browser/blockers" %}
  </footer>
</article>