---
layout: guide
title: Browser Alternatives
permalink: /browser/alternatives
---

<article class="chapter-contents">
  {% include nav-page.html prev="/browser/" next="/browser/blockers" %}
  <section class="chapter-section">

    <div class="section-content">
      <h3>Alternative Browsers</h3>
      <p>
        Try out these alternatives. They each offer privacy and security features built-in.
        Check your app store for iOS and Android versions as well.
      </p>


      <section class="tool-highlight">
        <h4>Brave</h4>
        <p>
          Brave was founded by the Brendan Eich, the creator of Javascript (the language of the browser).
          Brave has privacy and security built into the browser.
          Other browsers will require multiple extensions to get the same funtionality as Brave.

        </p>
        <h4>Features</h4>
        <ul>
          <li>
            Ad Blockers
          </li>
          <li>
            Cookie Blocking
          </li>
          <li>
            Fingerprinting Protection
          </li>
          <li>
            HTTPS Everywhere
          </li>
          <li>
            Phishing/Malware Blocker
          </li>
          <li>
            Private Search with DuckDuckGo!
          </li>
          <li>
            Experimental TOR Browser
          </li>
        </ul>
      </section>

      <section class="tool-highlight">
        <h4>Brave</h4>
        <p>
          Brave was founded by the Brendan Eich, the creator of Javascript (the language of the browser).
          Brave has privacy and security built into the browser.
          Other browsers will require multiple extensions to get the same funtionality as Brave.

        </p>
        <h4>Features</h4>
        <ul>
          <li>
            Ad Blockers
          </li>
          <li>
            Cookie Blocking
          </li>
          <li>
            Fingerprinting Protection
          </li>
          <li>
            HTTPS Everywhere
          </li>
          <li>
            Phishing/Malware Blocker
          </li>
          <li>
            Private Search with DuckDuckGo!
          </li>
          <li>
            Experimental TOR Browser
          </li>
        </ul>
      </section>

      <section class="tool-highlight">
        <h4>Brave</h4>
        <p>
          Brave was founded by the Brendan Eich, the creator of Javascript (the language of the browser).
          Brave has privacy and security built into the browser.
          Other browsers will require multiple extensions to get the same funtionality as Brave.

        </p>
        <h4>Features</h4>
        <ul>
          <li>
            Ad Blockers
          </li>
          <li>
            Cookie Blocking
          </li>
          <li>
            Fingerprinting Protection
          </li>
          <li>
            HTTPS Everywhere
          </li>
          <li>
            Phishing/Malware Blocker
          </li>
          <li>
            Private Search with DuckDuckGo!
          </li>
          <li>
            Experimental TOR Browser
          </li>
        </ul>
      </section>


      <!-- <section class="table">

        <table>
          <thead>
            <tr>
              <th>Browser</th>
              <th>Ad Blocking</th>
              <th>Tracker Blocking</th>
              <th>Extension Support</th>
              <th>Private Mode</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>
                <a href="https://brave.com/" target="_blank">Brave</a>
              </td>
              <td>Yes</td>
              <td>Yes</td>
              <td>Yes</td>
              <td>Yes</td>
            </tr>

            <tr>
              <td>
                <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a>
              </td>
              <td>Yes</td>
              <td>Yes</td>
              <td>Yes</td>
              <td>Yes</td>
            </tr>

            <tr>
              <td>
                <a href="https://www.torproject.org/index.html.en" target="_blank">TOR</a>
              </td>
              <td>Yes</td>
              <td>Yes</td>
              <td>Yes</td>
              <td>Yes</td>
            </tr>


            <tr>
              <td>
                <a href="https://www.microsoft.com/en-us/windows/microsoft-edge" target="_blank">Microsoft Edge</a>
              </td>
              <td>Yes</td>
              <td>Yes</td>
              <td>Yes</td>
              <td>Yes</td>
            </tr>

            <tr>
              <td>
                <a href="https://www.apple.com/safari/" target="_blank">Safari</a>
              </td>
              <td>Yes</td>
              <td>Yes</td>
              <td>Yes</td>
              <td>Yes</td>
            </tr>

            <tr>
              <td>
                <a href="https://www.opera.com/" target="_blank">Opera</a>
              </td>
              <td>Yes</td>
              <td>Yes</td>
              <td>Yes</td>
              <td>Yes</td>
            </tr>

            <tr>
              <td>
                <a href="https://vivaldi.com/" target="_blank">Vivaldi</a>
              </td>
              <td>Yes</td>
              <td>Yes</td>
              <td>Yes</td>
              <td>Yes</td>
            </tr>

            <tr>
              <td>
                <a href="https://www.epicbrowser.com/" target="_blank">Epic</a>
              </td>
              <td>Yes</td>
              <td>Yes</td>
              <td>Yes</td>
              <td>Yes</td>
            </tr>

            <tr>
              <td>
                <a href="https://tenta.com/" target="_blank">Tenta</a>
              </td>
              <td>Yes</td>
              <td>Yes</td>
              <td>Yes</td>
              <td>Yes</td>
            </tr>



          </tbody>
        </table>

      </section> -->
    </div>
  </section>

  <footer class="page-footer">
    {% include nav-page.html prev="/browser" next="/browser/blockers" %}
  </footer>
</article>