---
layout: guide
title: Browser
permalink: /browser/
---

<article class="chapter-wrapper">
  {% include nav-page.html prev="/isp" next="/browser/alternatives" %}
  <section class="chapter-contents">
    <section class="chapter-section">
      <section class="section-content chapter-intro">
        <header>
          <span class="browser-code-icon"></span>
          <h1>Web Browser</h1>
        </header>

        <section>
          <article>
            <p>
              The browser is the application that connects to
              the world wide web from your computer/device.
              It works with DNS and HTTP to fetch websites and
              read the HTML, CSS, code and other content for the browser to display.
            </p>
            <p>
              In short, the browser has several privacy holes for you
              to be tracked, identified, and ultimately social engineered through advertising
              or hacked by bad people.
              <a href="https://motherboard.vice.com/en_us/article/539qzk/looking-up-symptoms-online-these-companies-are-collecting-your-data">
                Health companies track your queries when you search on your medical symptoms.
              </a>
              The list goes on and on.
            </p>
            <p>
              But you can defend yourself with some knowledge, tools and best practices.
              A good start is to read this overview
              <a href="https://gist.github.com/atcuno/3425484ac5cce5298932">
                on browsing securely and privately
              </a>
            </p>
          </article>

          <ul>
            <!-- <h3>Learn</h3> -->
            <li>
              <span class="read-article-icon"></span>
              <a href="https://gist.github.com/atcuno/3425484ac5cce5298932">
                Must Read: In Depth Guide to Browsing Securely and Privately
              </a>
            </li>
            <li>
              <span class="read-article-icon"></span>
              <a href="https://myshadow.org/browser-tracking">
                Understand How Browsers Track You
              </a>
            </li>
            <li>
              <span class="watch-video-icon"></span>
              <a href="https://donottrack-doc.com/en/intro/">
                Do Not Track: Documentary About Data Tracking
              </a>
            </li>
            <li>
              <span class="watch-video-icon"></span>
              <a href="https://www.youtube.com/watch?v=uE3UPEK26U0&vl=en">
                How A Browser Works
              </a>
            </li>
          </ul>
        </section>
      </section>
    </section>

    <section class="chapter-section">
      <section class="section-content section-risk">
        <header>
          <h2>Browser Risks</h2>
        </header>

        <ul>
          <li>
            <span class="tracking-icon"></span>
            <h4>3rd-Party Cookies</h4>
            <p>
              Advertisers track you across websites and collect your clicks
            </p>
          </li>
          <li>
            <span class="hand-icon"></span>
            <h4>Browser Fingerprinting</h4>
            <p>
              Ad trackers build a profile of your online habits
            </p>
          </li>
          <li>
            <span class="signal-icon"></span>
            <h4>Non-HTTPS</h4>
            <p>
              Plain HTTP websites leaves your communications unencrypted
            </p>
          </li>
          <li>
            <span class="private-eye-icon"></span>
            <h4>Private Browsing</h4>
            <p>
              Private tabs do not protect your information from your employer or ISP!
            </p>
          </li>
        </ul>
      </section>
    </section>

    <section class="chapter-section">
      <section class="section-fixes">
        <header>
          <h2>Browser Fixes</h2>
        </header>
        <ul class="chapter-links">
          <a href="{{site.baseurl}}browser/alternatives" class="section-link">
            <section>
              <span class="browser-blank-icon"></span>
              <h4>Use A Better Browser</h4>
              <p>
                Check out new browsers that emphasize security and privacy
              </p>
            </section>
          </a>
          <a href="{{site.baseurl}}browser/blockers" class="section-link">
            <section>
              <span class="extension-icon"></span>
              <h4>Use Browser Extensions</h4>
              <p>
                Increase your browser and online security and privacy
              </p>
            </section>
          </a>
          <a href="{{site.baseurl}}browser/https" class="section-link">
            <section>
              <span class="signal-icon"></span>
              <h4>Use HTTP Secure</h4>
              <p>
                HTTPS is becoming a standard, learn how to set it up
              </p>
            </section>
          </a>
          <a href="{{site.baseurl}}browser/private-browsing" class="section-link">
            <section>
              <span class="private-eye-icon"></span>
              <h4>What is Private Browsing</h4>
              <p>
                Many people mis-understand, get the answer here
              </p>
            </section>
          </a>
          <a href="{{site.baseurl}}browser/tor" class="section-link">
            <section>
              <span class="browser-check-icon"></span>
              <h4>Use TOR for absolute security</h4>
              <p>
                Hide your traffic from your employer or ISP or any network
              </p>
            </section>
          </a>
          <a href="{{site.baseurl}}browser/links" class="section-link">
            <section>
              <span class="browser-upload-icon"></span>
              <h4>Learn More</h4>
              <p>
                Read more about browsers and privacy
              </p>
            </section>
          </a>
        </ul>
      </section>
    </section>

  </section>



  <footer class="page-footer">
    {% include nav-page.html prev="/isp" next="/browser/alternatives" %}
  </footer>
</article>