---
layout: guide
title: Browser
permalink: /browser/
---

<article class="chapter-contents">
  {% include nav-page.html prev="/isp" next="/browser/alternatives" %}
  <section class="chapter-section">
    <div class="section-content">
      <h1>Browser</h1>
      <p>
        The browser is the application that connects to the world wide web from your computer/device.
        It works with DNS and HTTP to fetch websites and read the HTML, CSS, code and other content for the browser to display.
      </p>

      <section class="risks">
        <header>
          <h2>Risks</h2>
        </header>
        <ul>
          <li>
            <span class="risk"></span>
            <p>
              3rd-party cookies from advertisers track you across websites when you visit a site that saves the cookie to your browser
            </p>
          </li>
          <li>
            <span class="risk"></span>
            <p>These cookies can 'fingerprint' your identity through sophisticated means, sending data to trackers that can create an identity profile</p>
          </li>
          <li>
            <span class="risk"></span>
            <p>Not using HTTPS on leaves your communications unprotected</p>
          </li>
          <li>
            <span class="risk"></span>
            <p>Private browsing does not protect your information from your employer or ISP!</p>
          </li>
        </ul>

      </section>

      <section class="fixes">
        <header>
          <h2>Fixes</h2>
        </header>
        <ul class="chapter-links">
          <li>
            <span class="fix"></span>
            <p>
              <a href="{{site.baseurl}}browser/alternatives" class="section-link">Browser Alternatives</a> that don't track you, block ads and increase speed and performance.
            </p>
          </li>
          <li>
            <span class="fix"></span>
            <p>
              <a href="{{site.baseurl}}browser/blockers" class="section-link">Browser Extensions</a> that block ad tracking, reduce your digital fingerprint and increase online anonymity.
            </p>
          </li>
          <li>
            <span class="fix"></span>
            <p>
              <a href="{{site.baseurl}}browser/https" class="section-link">HTTPS</a> encrypts your web surfing.
            </p>
          </li>
          <li>
            <span class="fix"></span>
            <p>
              <a href="{{site.baseurl}}browser/private-browsing" class="section-link">Private Browsing</a> does not hide your web surfing from your employer or ISP.
            </p>
          </li>
          <li>
            <span class="fix"></span>
            <p>
              <a href="{{site.baseurl}}browser/tor" class="section-link">TOR</a> browser will hide your traffic from your employer or ISP or any network.
            </p>
          </li>
          <li>
            <span class="fix"></span>
            <p>
              <a href="{{site.baseurl}}browser/links" class="section-link">Read more about browsers and privacy</a>.
            </p>
          </li>
        </ul>
      </section>
    </div>
  </section>

  <footer class="page-footer">
    {% include nav-page.html prev="/isp" next="/browser/alternatives" %}
  </footer>
</article>