---
title: HTTPS
layout: guide
permalink: /browser/https
---

<article class="chapter-wrapper">
  {% include nav-page.html prev="/browser/blockers" next="/browser/private-browsing" %}
  <section class="chapter-contents">
    <section class="chapter-section section-header">
      <header>
        <span class="lock-icon"></span>
        <h1>HTTPS</h1>
      </header>

      <article>
        <p>
          HTTP is the protocol used to send data over the net.
          HTTPS is the secure version, hence the S for secure.
          Look at the address bar above, it has the 'https' instead of just 'http'.
        </p>
        <p>
          HTTPS <a href="https://spreadprivacy.com/what-does-https-do/" target="_blank" rel="noopener noreferrer">
            encrypts data
          </a>
          to make it impossible for hackers to see your data.
          Don't enter credit card or personal information like social security numbers on
          websites that don't use HTTPS.
          HTTPS is being adopted more and more, it is
          <a href="https://www.troyhunt.com/https-adoption-has-reached-the-tipping-point/" target="_blank" rel="noopener noreferrer">
            quickly becoming the standard
          </a>.
        </p>

        <ul>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://whynohttps.com" target="_blank" rel="noopener noreferrer">
              Websites That Don't Use HTTPS!
            </a>
          </li>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://howhttps.works/episodes/">
              How HTTPS Works: Illustrated Comic
            </a>
          </li>

          <li>
            <span class="tool-icon"></span>
            <a href="https://www.howsmyssl.com" target="_blank" rel="noopener noreferrer">
              HTTPS Checker Tool
            </a>
          </li>
          <li>
            <span class="tool-icon"></span>
            <a href="https://www.ssllabs.com/ssltest/viewMyClient.html" target="_blank" rel="noopener noreferrer">
              Another SSL Checker Tool
            </a>
          </li>
          <li>
            <span class="tool-icon"></span>
            <a href="{{site.baseurl}}browser/blockers#https-everywhere" target="_blank" rel="noopener noreferrer">
              HTTPS Everywhere
            </a>
          </li>
          <li>
            <span class="watch-video-icon"></span>
            <a href="https://www.youtube.com/watch?v=ZghMPWGXexs" target="_blank" rel="noopener noreferrer">
              Encryption and HTTPS
            </a>
          </li>
          <li>
            <span class="watch-video-icon"></span>
            <a href="https://www.youtube.com/watch?v=w0QbnxKRD0w" target="_blank" rel="noopener noreferrer">
              What is HTTPS?
            </a>
          </li>
        </ul>
      </article>
    </section>
  </section>
  <footer class="page-footer">
    {% include nav-page.html prev="/browser/blockers" next="/browser/private-browsing" %}
  </footer>
</article>