---
title: HTTPS
layout: guide
permalink: /browser/https
---

<article class="chapter-wrapper">
  {% include nav-page.html prev="/browser/blockers" next="/browser/private-browsing" %}
  <section class="chapter-contents">
    <div class="chapter-section">
      <h3>HTTPS</h3>
      <p>
        HTTP is the protocol used to send data over the net. HTTPS is the secure version, hence the S for secure.
        Look at the address bar above, it has the 'https' instead of just 'http'.
      </p>
      <p>
        HTTPS <a href="https://spreadprivacy.com/what-does-https-do/">encrypts data</a> to make it impossible for hackers to see your data.
        Don't enter credit card or personal information like social security numbers on websites that don't use HTTPS.
        HTTPS is being adopted more and more, it is <a href="https://www.troyhunt.com/https-adoption-has-reached-the-tipping-point/">quickly becoming the standard</a>.
      </p>
      <ul>
        <li>
          <a href="https://whynohttps.com">Websites That Don't Use HTTPS!</a>
        </li>
        <li>
          <a href="https://www.howsmyssl.com">How is my SSL Checker?</a>
        </li>
        <li>
          <a href="https://www.ssllabs.com/ssltest/viewMyClient.html">SSL Checker</a>
        </li>
        <li>
          <a href="https://whynohttps.com">Websites That Don't Use HTTPS!</a>
        </li>
        <li>
          <a href="https://chrome.google.com/webstore/detail/https-everywhere/gcbommkclmclpchllfjekcdonpmejbdp?hl=en">Chrome - HTTPS Everywhere</a>
        </li>
        <li>
          <a href="https://addons.mozilla.org/en-US/firefox/addon/https-everywhere/">Firefox - HTTPS Everywhere</a>
        </li>
        <li>
          <a href="https://addons.opera.com/en/extensions/details/https-everywhere/">Opera - HTTPS Everywhere</a>
        </li>
      </ul>
    </div>
  </section>
  <footer class="page-footer">
    {% include nav-page.html prev="/browser/blockers" next="/browser/private-browsing" %}
  </footer>
</article>