---
title: Private Browsing
layout: guide
permalink: /browser/private-browsing
---

<article class="chapter-wrapper">
  {% include nav-page.html prev="/browser/https" next="/browser/tor" %}
  <section class="chapter-contents">
    <section class="chapter-section section-header">
      <header>
        <span class="spying-icon"></span>
        <h1>Private Browsing</h1>
      </header>

      <article>
        <p>
          The best explanation of
          <a href="https://www.blaseur.com/papers/www18privatebrowsing.pdf">private browsing comes from this paper:</a>

        </p>

        <blockquote class="blockquote-excerpt">
          <p>
            "Unwanted information from the user’s browsing history will not appear in the history bar,
            auto-filled forms, or search suggestions.
            Private modes thus help users hide browsing sessions from people sharing a device with them"
          </p>
        </blockquote>

        <h4>Private Browsing does not 100% prevent</h4>
        <ul>
          <li>
            <span class="browser-ex-icon"></span>
            <p>Geolocation tracking</p>
          </li>
          <li>
            <span class="browser-ex-icon"></span>
            <p>Malware protection</p>
          </li>
          <li>
            <span class="browser-ex-icon"></span>
            <p>Advertising elimination</p>
          </li>
          <li>
            <span class="browser-ex-icon"></span>
            <p>Tracking by websites you visit</p>
          </li>
        </ul>
        <p>
          Many people have a false understanding that private browsing will magically
          <a href="https://www.techrepublic.com/article/no-private-browsing-mode-wont-hide-your-search-history-from-advertisers/">protect you from advertisers and spyware</a>.
          <a href="https://support.mozilla.org/en-US/kb/tracking-protection">Firefox does allow blocking while in private mode, but these are two different features</a>.
        </p>
        <p>
          Google chrome will <a href="https://support.google.com/chrome/answer/7440301">still track you when using incognito mode</a>.
        </p>

        <ul>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://www.blaseur.com/papers/www18privatebrowsing.pdf">Private Browsing Research Paper</a>
          </li>
          <li>
            <span class="watch-video-icon"></span>
            <a href="https://www.youtube.com/watch?v=4FHPSnMzlRo">Private Browsing Mode Explained</a>
          </li>
          <li>
            <span class="watch-video-icon"></span>
            <a href="https://www.youtube.com/watch?v=ZpjGhlPV5vU">Private Tabs in iOS</a>
          </li>
        </ul>

      </article>


    </section>
  </section>

  <footer class="page-footer">
    {% include nav-page.html prev="/browser/https" next="/browser/tor" %}
  </footer>
</article>