---
title: TOR
layout: guide
permalink: /browser/tor
---

<article class="chapter-wrapper">
  {% include nav-page.html prev="/browser/private-browsing" next="/dns" %}
  <section class="chapter-contents">
    <section class="chapter-section section-header">
      <header>
        <span class="browser-check-icon"></span>
        <h1>TOR</h1>
      </header>

      <article>
        <p>
          TOR (The Onion Router) browsing using the Onion network is really ideal for hardcore journalists and people who are targets.
          Most consumers don't need this level of protection.
          It uses a decentralized anonymous networking relay to hide your online identity.
        </p>
        <p>
          If you are planning on buying illegal drugs or other items, then TOR is your tool of choice.
          If you are a journalist avoiding oppressive government tracking or a hacker who doesn't want to be identified, then TOR is the right fit.
          It is slower and has a bit of a learning curve.
        </p>
        <ul>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://www.torproject.org/" target="_blank" rel="noopener noreferrer">
              Official TOR Project
            </a>
          </li>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://lifehacker.com/what-is-tor-and-should-i-use-it-1527891029" target="_blank" rel="noopener noreferrer">
              Should I Use Tor?
            </a>
          </li>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://gizmodo.com/tor-the-anonymous-internet-and-if-its-right-for-you-1222400823" target="_blank" rel="noopener noreferrer">
              Is TOR For You?
            </a>
          </li>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://tails.boum.org/" target="_blank" rel="noopener noreferrer">
              Tails - Live OS used with TOR for 100% untraceability
            </a>
          </li>
          <li>
            <span class="watch-video-icon"></span>
            <a href="https://www.youtube.com/watch?v=wlP1JrfvUo0" target="_blank" rel="noopener noreferrer">
              Video Overview
            </a>
          </li>
        </ul>
      </article>
    </section>
  </section>

  <footer class="page-footer">
    {% include nav-page.html prev="/browser/private-browsing" next="/dns" %}
  </footer>
</article>