:root {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: calc( 21px + (28 - 21) * ( (100vw - 600px) / ( 1300 - 600) ));
  line-height: calc( 35px + (48 - 35) * ( (100vw - 600px) / ( 1300 - 600) ));
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

p {
  display: block;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  word-break: keep-all;
}

ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  -moz-padding-start: 0px;
  -moz-padding-start: 0px;
  background: none;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0;
  padding: 1.5rem 0 0 0;
}

img:before {
  background-color: #e6e6e6;
  content: "Image Not Found: (url: " attr(src) ")";
  display: block;
  margin-bottom: 10px;
  color: #e00909;
  font-size: .8rem;
  padding: .5rem;
}

img + p {
  padding: 1.5rem 0 0 0;
}

figure, figure.highlight {
  display: block;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -moz-margin-before: 0;
  -moz-margin-after: 0;
  -moz-margin-start: 0;
  -moz-margin-start: 0;
  margin: 0;
  -webkit-margin: 0;
  -moz-margin: 0;
  padding: 0;
}

pre, code {
  font-family: monospace;
  white-space: pre;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin: 0 !important;
}

button {
  border: none;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
