

// Sometype-Mono
// http://monospacedfont.com

@font-face {
  font-family: 'Sometype-Mono';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/sometype-mono/SometypeMono-Regular.woff2") format("woff2"),
       url("../../fonts/sometype-mono/SometypeMono-Regular.woff") format("woff");
}


@font-face {
  font-family: 'Sometype-Mono';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/sometype-mono/SometypeMono-Medium.woff2") format("woff2"),
       url("../../fonts/sometype-mono/SometypeMono-Medium.woff") format("woff");
}


@font-face {
  font-family: 'Sometype-Mono';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("../../fonts/sometype-mono/SometypeMono-Bold.woff2") format("woff2"),
       url("../../fonts/sometype-mono/SometypeMono-Bold.woff") format("woff");
}

// Vision
// https://www.fontfabric.com/vision/

@font-face {
  font-family: 'Vision';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/vision/vision-thin-webfont.woff2") format("woff2")
}

@font-face {
  font-family: 'Vision';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../fonts/vision/vision-black-webfont.woff2") format("woff2")
}

@font-face {
  font-family: 'Vision';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../fonts/vision/vision-light-webfont.woff2") format("woff2")
}

@font-face {
  font-family: 'Vision';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("../../fonts/vision/vision-heavy-webfont.woff2") format("woff2")
}

@font-face {
  font-family: 'Vision';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("../../fonts/vision/vision-bold-webfont.woff2") format("woff2")
}

// FiraGo
// https://bboxtype.com/typefaces/FiraGO/#!layout=specimen

@font-face {
  font-family: 'Fira-go';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/fira-go/FiraGO-light.woff2") format("woff2")
}

@font-face {
  font-family: 'Fira-go';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/fira-go/FiraGO-Eight.woff2") format("woff2")
}

@font-face {
  font-family: 'Fira-go';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/fira-go/FiraGO-Four.woff2") format("woff2")
}

@font-face {
  font-family: 'Fira-go';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/fira-go/FiraGO-Hair.woff2") format("woff2")
}

@font-face {
  font-family: 'Fira-go';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../fonts/fira-go/FiraGO-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'Fira-go';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../fonts/fira-go/FiraGO-Medium.woff2") format("woff2")
}

@font-face {
  font-family: 'Fira-go';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/fira-go/FiraGO-Heavy.woff2") format("woff2")
}

@font-face {
  font-family: 'Fira-go';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("../../fonts/fira-go/FiraGO-SemiBold.woff2") format("woff2")
}

@font-face {
  font-family: 'Fira-go';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("../../fonts/fira-go/FiraGO-Bold.woff2") format("woff2")
}
