@import "../utils/mixins";

.chapter-intro {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr;
  min-height: 100vh;
  @include section-width(89%);

  @media (min-width: 42em) {
    grid-template-columns: 70%;
    grid-template-rows: .5fr 2.5fr;
    @include section-width(69%);
  }

  header {
    display: grid;
    grid-template-columns: max-content min-content;
    grid-template-rows: min-content;
    align-items: center;

    span {
      width: 6rem;
      height: 6rem;
      object-fit: contain;

      &.width-fix {
        width: 4rem;
        height: 4rem;
      }
    }

    h1 {
      padding: 1rem;

      color: black;

      line-height: 2rem;

    }
  }

  section {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content;

    width: 100%;
    padding: 2rem 0;
    margin: 0;

    @media (min-width: 42em) {
      // grid-template-columns: 2fr 1fr;

    }

    article {

      p + p {
        // padding: 1rem 0;
        text-indent: 1rem;
      }

      .strong-paragraph {
        padding: 2.5rem;

        font-weight: bold;
        font-style: italic;
        text-indent: 0;
      }

      .strong-paragraph + p {
        text-indent: 0;
      }

      h2,
      h3,
      h4 {
        padding: 2rem 0 1rem 0;
      }

    }

    ul {
      padding: 2rem 0;
      font-size: 1rem;

      @media (min-width: 42em) {
        // padding: 2rem;
        // font-size: .6rem;
      }

      li {
        display: grid;
        grid-template-columns: 1fr 11fr;
        grid-template-rows: auto;
        padding: .5rem 0;

        span {
          align-self: flex-start;

          width: 1.5rem;
          height: 1.5rem;

          @media (min-width: 42em) {
            align-self: center;
          }
        }

        a {
          padding: 0 0 0 1rem;

          text-decoration: none;

          transition-property: text-decoration;
          transition-duration: .2s;
          transition-timing-function: ease-in;

          &:focus,
          &:hover {
            text-decoration: underline;
          }

          @media (min-width: 42em) {
            // padding: 0;
          }
        }
      }
    }
  }
}

.section-risk {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: "sub-header" "chapter-section";
  min-height: 100vh;


  @media (min-width: 42em) {
    grid-template-rows: .5fr 3fr;
    grid-template-rows: min-content min-content;
  }

  header {
    grid-area: sub-header;
    // display: grid;
    // grid-template-columns: 100vw;
    // grid-template-rows: repeat(2, max-content);
    // grid-template-areas: "border-top" "header" "border-bottom";
    // --block-size: 1rem;
    // --white-box: rgba(255, 255, 255, 1);
    // --black-box: rgba(0,0,0,1);
    // --gray-box: rgba(0,0,0,.1);

    padding: 1rem 0;
    @include section-width(89%);

    @media (min-width: 42em) {
      @include section-width(69%);
    }

    // .border-top {
    //   grid-area: border-top;
    //   display: grid;
    //   grid-template-rows: repeat(5, var(--block-size));
    //   grid-template-columns: 100%;
    //
    //   overflow: hidden;
    //   width: 100vw;
    //
    //   .code-row {
    //     display: grid;
    //     grid-template-columns: repeat(100, var(--block-size));
    //     grid-template-rows: 100%;
    //
    //     &:nth-child(1) {
    //       .code-block {
    //         background-color: var(--white-box);
    //
    //         &:nth-child(1) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(2) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(11) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(16) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(23) {
    //           background-color: var(--white-box);
    //         }
    //         &:nth-child(24) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(29) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(33) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(48) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(49) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(53) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(58) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(64) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(71) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(80) {
    //           background-color: var(--gray-box);
    //         }
    //       }
    //     }
    //
    //     &:nth-child(2) {
    //       .code-block {
    //         background-color: var(--white-box);
    //
    //         &:nth-child(n+1):nth-child(-n+3) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(4) {}
    //         &:nth-child(5) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(n+6) {}
    //         &:nth-child(8) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(9) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(n+10):nth-child(-n+11) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(12) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(14) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(15) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(n+16):nth-child(-n+19) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(20) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(23) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(24) {
    //           background-color: var(--white-box);
    //         }
    //         &:nth-child(25) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(29) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(30) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(32) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(33) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(34) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(35) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(38) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(39) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(41) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(42) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(44) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(45) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(47) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(48) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(49) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(50) {
    //           background-color: var(--white-box);
    //         }
    //         &:nth-child(51) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(53) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(54) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(57) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(58) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(59) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(63) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(64) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(66) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(67) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(70) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(71) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(72) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(78) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(79) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(80) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(81) {
    //           background-color: var(--gray-box);
    //         }
    //       }
    //     }
    //
    //     &:nth-child(3) {
    //       .code-block {
    //         background-color: var(--black-box);
    //
    //         &:nth-child(4) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(6) {
    //           background-color: var(--white-box);
    //         }
    //         &:nth-child(10) {
    //           background-color: var(--white-box);
    //         }
    //         &:nth-child(12) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(13) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(18) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(20) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(21) {
    //           background-color: var(--white-box);
    //         }
    //         &:nth-child(25) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(28) {
    //           background-color: var(--white-box);
    //         }
    //         &:nth-child(33) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(34) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(35) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(36) {
    //           background-color: var(--white-box);
    //         }
    //         &:nth-child(39) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(44) {
    //           background-color: var(--white-box);
    //         }
    //         &:nth-child(46) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(50) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(55) {
    //           background-color: var(--white-box);
    //         }
    //         &:nth-child(60) {
    //           background-color: var(--white-box);
    //         }
    //         &:nth-child(61) {
    //           background-color: var(--white-box);
    //         }
    //         &:nth-child(65) {
    //           background-color: var(--white-box);
    //         }
    //         &:nth-child(68) {
    //           background-color: var(--white-box);
    //         }
    //         &:nth-child(74) {
    //           background-color: var(--white-box);
    //         }
    //         &:nth-child(75) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(76) {
    //           background-color: var(--white-box);
    //         }
    //         &:nth-child(82) {
    //           background-color: var(--gray-box);
    //         }
    //
    //       }
    //     }
    //
    //     &:nth-child(4) {
    //       .code-block {
    //         background-color: var(--black-box);
    //
    //         &:nth-child(7) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(24) {
    //           background-color: var(--white-box);
    //         }
    //         &:nth-child(29) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(36) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(37) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(42) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(45) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(61) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(69) {
    //           background-color: var(--white-box);
    //         }
    //         &:nth-child(75) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(79) {
    //           background-color: var(--white-box);
    //         }
    //       }
    //     }
    //
    //     &:nth-child(5) {
    //       .code-block {
    //         background-color: var(--black-box);
    //
    //         &:nth-child(16n+19) {
    //           background-color: var(--gray-box);
    //         }
    //       }
    //     }
    //   }
    //
    //   .code-block {
    //     height: 100%;
    //     width: 100%;
    //     padding-top: 100%; /* 1:1 Aspect Ratio */
    //     position: relative;
    //   }
    // }
    //
    // .risk-header {
    //   grid-area: header;
    //   background-color: black;
    //
    //   header {
    //     @include section-width(89%);
    //
    //     // background-color: black;
    //
    //     @media (min-width: 42em) {
    //       @include section-width(69%);
    //     }
    //
    //     h2 {
    //       align-self: center;
    //
    //       padding: 0rem;
    //
    //       color: white;
    //     }
    //   }
    // }
    //
    // .border-bottom {
    //   grid-area: border-bottom;
    //   display: grid;
    //   grid-template-rows: repeat(5, var(--block-size));
    //   grid-template-columns: 100%;
    //
    //   width: 100vw;
    //   overflow: hidden;
    //
    //
    //   .code-row {
    //     display: grid;
    //     grid-template-columns: repeat(100, var(--block-size));
    //     grid-template-rows: 100%;
    //
    //     &:nth-child(1) {
    //       .code-block {
    //         background-color: var(--black-box);
    //
    //         &:nth-child(16n+19) {
    //           background-color: var(--gray-box);
    //         }
    //       }
    //     }
    //
    //     &:nth-child(2) {
    //       .code-block {
    //         background-color: var(--black-box);
    //
    //         &:nth-child(7) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(24) {
    //           background-color: var(--white-box);
    //         }
    //         &:nth-child(29) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(36) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(37) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(42) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(45) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(61) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(69) {
    //           background-color: var(--white-box);
    //         }
    //         &:nth-child(75) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(79) {
    //           background-color: var(--white-box);
    //         }
    //       }
    //     }
    //
    //     &:nth-child(3) {
    //       .code-block {
    //         background-color: var(--black-box);
    //
    //         &:nth-child(4) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(6) {
    //           background-color: var(--white-box);
    //         }
    //         &:nth-child(10) {
    //           background-color: var(--white-box);
    //         }
    //         &:nth-child(12) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(13) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(18) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(20) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(21) {
    //           background-color: var(--white-box);
    //         }
    //         &:nth-child(25) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(28) {
    //           background-color: var(--white-box);
    //         }
    //         &:nth-child(33) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(34) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(35) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(36) {
    //           background-color: var(--white-box);
    //         }
    //         &:nth-child(39) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(44) {
    //           background-color: var(--white-box);
    //         }
    //         &:nth-child(46) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(50) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(55) {
    //           background-color: var(--white-box);
    //         }
    //         &:nth-child(60) {
    //           background-color: var(--white-box);
    //         }
    //         &:nth-child(61) {
    //           background-color: var(--white-box);
    //         }
    //         &:nth-child(65) {
    //           background-color: var(--white-box);
    //         }
    //         &:nth-child(68) {
    //           background-color: var(--white-box);
    //         }
    //         &:nth-child(74) {
    //           background-color: var(--white-box);
    //         }
    //         &:nth-child(75) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(76) {
    //           background-color: var(--white-box);
    //         }
    //         &:nth-child(82) {
    //           background-color: var(--gray-box);
    //         }
    //       }
    //     }
    //
    //     &:nth-child(4) {
    //       .code-block {
    //         background-color: var(--white-box);
    //
    //         &:nth-child(n+1):nth-child(-n+3) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(4) {}
    //         &:nth-child(5) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(n+6) {}
    //         &:nth-child(8) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(9) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(n+10):nth-child(-n+11) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(12) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(14) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(15) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(n+16):nth-child(-n+19) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(20) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(23) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(24) {
    //           background-color: var(--white-box);
    //         }
    //         &:nth-child(25) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(29) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(30) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(32) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(33) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(34) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(35) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(38) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(39) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(41) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(42) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(44) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(45) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(47) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(48) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(49) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(50) {
    //           background-color: var(--white-box);
    //         }
    //         &:nth-child(51) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(53) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(54) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(57) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(58) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(59) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(63) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(64) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(66) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(67) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(70) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(71) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(72) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(78) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(79) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(80) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(81) {
    //           background-color: var(--gray-box);
    //         }
    //       }
    //     }
    //
    //     &:nth-child(5) {
    //       .code-block {
    //         background-color: var(--white-box);
    //
    //         &:nth-child(1) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(2) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(11) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(16) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(23) {
    //           background-color: var(--white-box);
    //         }
    //         &:nth-child(24) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(29) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(33) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(48) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(49) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(53) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(58) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(64) {
    //           background-color: var(--gray-box);
    //         }
    //         &:nth-child(71) {
    //           background-color: var(--black-box);
    //         }
    //         &:nth-child(80) {
    //           background-color: var(--gray-box);
    //         }
    //       }
    //     }
    //   }
    // }
  }

  ul {
    grid-area: chapter-section;

    padding: 2rem 0;

    @include section-width(89%);

    @media (min-width: 42em) {
      @include section-width(69%);
    }

    li {
      display: grid;
      grid-template-columns: 1fr 5fr;
      grid-template-rows: auto;
      grid-template-areas: "icon sub-header" "content content";
      align-items: center;

      padding: 1rem 0;


      @media (min-width: 42em) {
        grid-template-areas: "icon sub-header" " . content";
      }


      span {
        grid-area: icon;
        justify-self: center;
        align-self: center;

        height: 2rem;
        width: 2rem;

        @media (min-width: 42em) {
          align-self: self-start;
          padding: 1rem;
        }
      }

      h4 {
        grid-area: sub-header;
        padding: 0 .5rem;

        font-size: 1.2rem;

        @media (min-width: 42em) {
          padding: 0 0 .5rem 0;
        }
      }

      p {
        grid-area: content;
        padding: 1rem .5rem;
        margin: 0;

        @media (min-width: 42em) {
          padding: 0;
        }
      }
    }
  }
}

.section-fixes {
  --hover: #82DE82;
  --hover: #b7f7b7;

  display: grid;
  grid-template-rows: auto;
  grid-template-areas: "sub-header" "chapter-section";
  min-height: 100vh;

  @include section-width(100%);

  @media (min-width: 42em) {
    grid-template-rows: .5fr 3fr;
    grid-template-rows: min-content min-content;
    @include section-width(69%);
  }

  header {
    grid-area: sub-header;
    @include section-width(89%);

    padding: 1rem 0;

    @media (min-width: 42em) {
      @include section-width(100%);
    }

  }

  ul {
    grid-area: chapter-section;

    margin: 0;
  }

  a {
    display: block;

    min-height: 5rem;
    padding: 1rem 0;
    border-left: 5px solid transparent;

    text-decoration: none;

    transition-property: background-color, border-left;
    transition-duration: .2s;
    transition-timing-function: ease-in;

    @media (min-width: 42em) {

    }

    &:focus,
    &:hover {
      background-color: var(--hover);
      border-left: 5px solid #27bf36;
    }

    section {
      display: grid;
      grid-template-columns: 1fr 5fr;
      grid-template-rows: auto;
      grid-template-areas: "icon sub-header" "content content";
      align-items: center;

      @include section-width(89%);

      @media (min-width: 42em) {
        justify-self: center;
        align-self: self-start;

        grid-template-columns: 1fr 5fr;
        grid-template-areas: "icon sub-header" " . content";

        @include section-width(100%);
      }
    }

    span {
      grid-area: icon;
      justify-self: center;
      align-self: center;

      width: 2rem;
      height: 2rem;

      @media (min-width: 42em) {
        justify-self: center;
        align-self: center;
      }
    }

    h4 {
      grid-area: sub-header;
      padding: .5rem;
      font-size: 1.2rem;

      @media (min-width: 42em) {
        padding: .5rem 0;
      }

    }

    p {
      grid-area: content;
      padding: 0;
      margin: 0;
      padding: 1rem .5rem;

      @media (min-width: 42em) {
        padding: 0;
      }
    }
  }
}
