@import "../utils/mixins";


.section-header {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: .5fr auto;
  min-height: 100vh;
  @include section-width(89%);


  @media (min-width: 42em) {
    grid-template-columns: 70%;
    grid-template-rows: .5fr auto;
    @include section-width(69%);
  }

  header {
    display: grid;
    grid-template-columns: max-content min-content;
    grid-template-rows: min-content;
    align-items: center;

    span {
      // height: 6rem;
      // width: 6rem;
      min-height: 4rem;
      min-width: 4rem;
    }

    h1 {
      padding: 1rem;
      line-height: 2rem;
    }
  }

  article {
    padding: 3rem 0;

    p + p {
      text-indent: 1rem;
    }

    .strong-paragraph {
      font-weight: bold;
      font-style: italic;
      padding: 2rem;
    }


    h2,
    h3,
    h4 {
      padding: 2rem 0 1rem 0;
    }

    h2 + ul,
    h3 + ul {
      padding: 0 0 2rem 0;
    }

    ul {
      padding: 2rem 0;
      font-size: 1rem;

      @media (min-width: 42em) {
        // padding: 2rem;
        // font-size: .6rem;
      }

      li {
        display: grid;
        grid-template-columns: 1fr 11fr;
        grid-template-rows: auto;
        padding: .5rem 0;

        span {
          align-self: flex-start;

          width: 1.5rem;
          height: 1.5rem;

          @media (min-width: 42em) {
            align-self: center;
          }
        }

        a {
          padding: 0 0 0 1rem;

          text-decoration: none;

          transition-property: text-decoration;
          transition-duration: .2s;
          transition-timing-function: ease-in;

          &:focus,
          &:hover {
            text-decoration: underline;
          }

          @media (min-width: 42em) {
            padding: 0 0 0 1rem;
          }

          .additional-links {
            display: flex;
            flex-flow: row nowrap;

            a {
              padding: 0 !important;
            }
          }
        }

        p {
          padding: 0 0 0 1rem;

          a {
            padding: 0;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
