@import "../utils/mixins";

.chapter-intro {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr;
  min-height: 100vh;
  @include section-width(89%);

  @media (min-width: 42em) {
    grid-template-columns: 70%;
    grid-template-rows: .5fr 2.5fr;
    @include section-width(69%);
  }

  header {
    display: grid;
    grid-template-columns: max-content min-content;
    grid-template-rows: min-content;
    align-items: center;

    span {
      width: 6rem;
      height: 6rem;
      object-fit: contain;
    }

    h1 {
      padding: 1rem;

      color: black;

      line-height: 2rem;

    }
  }

  section {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content;

    width: 100%;
    padding: 2rem 0;
    margin: 0;

    @media (min-width: 42em) {
      // grid-template-columns: 2fr 1fr;

    }

    article {

      p + p {
        // padding: 1rem 0;
        text-indent: 1rem;
      }

      h2,
      h3,
      h4 {
        padding: 2rem 0 1rem 0;
      }

    }

    ul {
      padding: 2rem 0;
      font-size: 1rem;

      @media (min-width: 42em) {
        // padding: 2rem;
        // font-size: .6rem;
      }

      li {
        display: grid;
        grid-template-columns: 1fr 11fr;
        grid-template-rows: auto;
        padding: .5rem 0;

        span {
          align-self: flex-start;

          width: 1.5rem;
          height: 1.5rem;

          @media (min-width: 42em) {
            align-self: center;
          }
        }

        a {
          padding: 0 0 0 1rem;

          text-decoration: none;

          transition-property: text-decoration;
          transition-duration: .2s;
          transition-timing-function: ease-in;

          &:focus,
          &:hover {
            text-decoration: underline;
          }

          @media (min-width: 42em) {
            // padding: 0;
          }
        }
      }
    }
  }
}

.section-risk {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: "sub-header" "chapter-section";
  min-height: 100vh;

  @include section-width(89%);

  @media (min-width: 42em) {
    grid-template-rows: .5fr 3fr;
    grid-template-rows: min-content min-content;
    @include section-width(69%);
  }

  header {
    grid-area: sub-header;

    padding: 1rem 0;

    span {
      justify-self: center;
      align-self: self-start;

      width: 3.5rem;
      height: 3.5rem;

    }

    h2 {
      align-self: center;

      padding: 0rem;
    }
  }

  ul {
    grid-area: chapter-section;

    padding: 2rem 0;

    li {
      display: grid;
      grid-template-columns: 1fr 5fr;
      grid-template-rows: auto;
      grid-template-areas: "icon sub-header" "content content";
      align-items: center;

      padding: 1rem 0;


      @media (min-width: 42em) {
        grid-template-areas: "icon sub-header" " . content";
      }


      span {
        grid-area: icon;
        justify-self: center;
        align-self: center;

        height: 2rem;
        width: 2rem;

        @media (min-width: 42em) {
          align-self: self-start;
          padding: 1rem;
        }
      }

      h4 {
        grid-area: sub-header;
        padding: 0 .5rem;

        font-size: 1.2rem;

        @media (min-width: 42em) {
          padding: 0 0 .5rem 0;
        }
      }

      p {
        grid-area: content;
        padding: 1rem .5rem;
        margin: 0;

        @media (min-width: 42em) {
          padding: 0;
        }
      }
    }
  }
}

.section-fixes {
  --hover: #82DE82;
  --hover: #b7f7b7;

  display: grid;
  grid-template-rows: auto;
  grid-template-areas: "sub-header" "chapter-section";
  min-height: 100vh;

  @include section-width(100%);

  @media (min-width: 42em) {
    grid-template-rows: .5fr 3fr;
    grid-template-rows: min-content min-content;
    @include section-width(69%);
  }

  header {
    grid-area: sub-header;
    @include section-width(89%);

    padding: 1rem 0;

    @media (min-width: 42em) {
      @include section-width(100%);
    }

  }

  ul {
    grid-area: chapter-section;

    margin: 0;
  }

  a {
    display: block;

    min-height: 5rem;
    padding: 1rem 0;
    border-left: 5px solid transparent;

    text-decoration: none;

    transition-property: background-color, border-left;
    transition-duration: .2s;
    transition-timing-function: ease-in;

    @media (min-width: 42em) {

    }

    &:focus,
    &:hover {
      background-color: var(--hover);
      border-left: 5px solid #27bf36;
    }

    section {
      display: grid;
      grid-template-columns: 1fr 5fr;
      grid-template-rows: auto;
      grid-template-areas: "icon sub-header" "content content";
      align-items: center;

      @include section-width(89%);

      @media (min-width: 42em) {
        justify-self: center;
        align-self: self-start;

        grid-template-columns: 1fr 5fr;
        grid-template-areas: "icon sub-header" " . content";

        @include section-width(100%);
      }
    }

    span {
      grid-area: icon;
      justify-self: center;
      align-self: center;

      width: 2rem;
      height: 2rem;

      @media (min-width: 42em) {
        justify-self: center;
        align-self: center;
      }
    }

    h4 {
      grid-area: sub-header;
      padding: .5rem;
      font-size: 1.2rem;

      @media (min-width: 42em) {
        padding: .5rem 0;
      }

    }

    p {
      grid-area: content;
      padding: 0;
      margin: 0;
      padding: 1rem .5rem;

      @media (min-width: 42em) {
        padding: 0;
      }
    }
  }
}
