@import "../utils/mixins";


.section-header {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: .5fr auto;
  min-height: 100vh;
  @include section-width(89%);


  @media (min-width: 42em) {
    grid-template-columns: 70%;
    grid-template-rows: .5fr auto;
    @include section-width(69%);
  }

  header {
    display: grid;
    grid-template-columns: max-content min-content;
    grid-template-rows: min-content;
    align-items: center;

    span {
      // height: 6rem;
      // width: 6rem;
      min-height: 4rem;
      min-width: 4rem;
    }

    h1 {
      padding: 1rem;
      line-height: 2rem;
    }
  }

  article {
    padding: 3rem 0;

    p + p {
      text-indent: 1rem;
    }


    h2,
    h3,
    h4 {
      padding: 2rem 0 1rem 0;
    }

    h2 + ul,
    h3 + ul {
      padding: 0 0 2rem 0;
    }

    ul {
      padding: 2rem 0;
      font-size: 1rem;

      @media (min-width: 42em) {
        // padding: 2rem;
        // font-size: .6rem;
      }

      li {
        display: grid;
        grid-template-columns: 1fr 11fr;
        grid-template-rows: auto;
        padding: .5rem 0;

        span {
          align-self: flex-start;

          width: 1.5rem;
          height: 1.5rem;

          @media (min-width: 42em) {
            align-self: center;
          }
        }

        a {
          padding: 0 0 0 1rem;

          text-decoration: none;

          transition-property: text-decoration;
          transition-duration: .2s;
          transition-timing-function: ease-in;

          &:focus,
          &:hover {
            text-decoration: underline;
          }

          @media (min-width: 42em) {
            padding: 0 0 0 1rem;
          }

          .additional-links {
            display: flex;
            flex-flow: row nowrap;

            a {
              padding: 0 !important;
            }
          }
        }

        p {
          padding: 0 0 0 1rem;

          a {
            padding: 0;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.tool-highlight {
  display: grid;
  min-height: 100vh;
  grid-template-rows: min-content;
  grid-template-columns: 100%;
  grid-template-areas: "header header" "summary summary" "features features" "links links";
  grid-column-gap: 0;

  padding: 1rem 0;

  word-break: break-all;

  @include section-width(89%);

  @media (min-width: 42em) {
    grid-template-columns: 60% 40%;
    grid-template-areas: "header header" "summary features" "links links";
    grid-column-gap: 2.5rem;

    padding: 0;

    @include section-width(69%);
  }


  .tool-header {
    grid-area: header;
    padding: 1.5rem 0;

    a {
      display: flex;
      align-items: center;

      text-decoration: none;

      h5 {
        padding: 0 .5rem 0 0;

        &:focus + span,
        &:hover + span {
          opacity: 1;
        }
      }

      span {
        height: 1rem;
        width: 1rem;
        opacity: 1;

        transition: opacity .2s ease-in;

        @media (min-width: 42em) {
          opacity: 0;
        }
      }
    }
  }


  .tool-summary {
    grid-area: summary;
    padding: 0;

    @media (min-width: 42em) {
      padding: 1.5rem 0;
    }

    p {

      & + p {
        text-indent: 1rem;
      }
    }
  }

  .tool-features {
    grid-area: features;
    padding: 1.5rem 0;

    li {
      display: grid;
      grid-template-columns: 1fr 10fr;
      grid-template-rows: auto;
      grid-column-gap: 1rem;

      align-items: center;

      padding: .5rem 0;

      span {
        height: 1rem;
        width: 1rem;
      }

      h5 {
        line-height: 1rem;

        a {
          text-decoration: none;

          &:focus,
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }


  .tool-footer {
    grid-area: links;
    display: flex;
    flex-flow: column nowrap;

    section {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      padding: .5rem 0;

      @media (min-width: 42em) {
        padding: 0;
      }

      span {
        height: 1rem;
        width: 1rem;
      }

      a {
        padding: 0 1rem;

        text-decoration: none;

        &:focus,
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.blockquote {
  padding: 1rem 0 2rem 0;

  .blockquote-excerpt {
    margin: 1rem 0;
    padding: 0 1rem;

    border-left: 5px solid black;

    font-weight: 700;

    p {
      hanging-punctuation: first;
    }

    ul {
      display: block;
      padding: 0;
      list-style-type: disc;
      list-style-position: outside;
      list-style-image: none;

      li {
        display: block;
        font-weight: 400;
      }
    }
  }

  footer {
    padding: 0 1rem;
  }
}

.risk-list {

  li {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto;
    grid-template-areas: "icon sub-header" "content content";
    align-items: center;

    padding: 1rem 0;


    @media (min-width: 42em) {
      grid-template-areas: "icon sub-header" " . content";
    }


    section {
      grid-area: icon;
      justify-self: center;
      align-self: center;

      display: flex;

      padding: 0 .5rem;
      height: 3rem;
      width: 3rem;

      border-radius: 50%;
      background-color: #FB7272;;

      @media (min-width: 42em) {
        align-self: center;
        padding: .5rem;
      }

      span {
        height: 2rem;
        width: 2rem;
      }
    }

    h4 {
      grid-area: sub-header;
      padding: 0 .5rem;

      font-size: 1.2rem;

      @media (min-width: 42em) {
        padding: 0 0 .5rem 0;
      }
    }

    p {
      grid-area: content;
      padding: 1rem .5rem;
      margin: 0;

      @media (min-width: 42em) {
        padding: 0;
      }
    }
  }
}
