.risks {

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;

  padding: 2rem 0;

  header {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: auto;
    grid-column-gap: 1rem;
    align-items: center;

    background-color: #f3f3f3;
    background-color: #000000;
    padding: 1rem .5rem;

    border-top: 3px solid #333;
    border-bottom: 3px solid #333;

    span {
      justify-self: center;
    }

    h3 {
      color: #f3f3f3;
      color: white;
    }

  }


  ul {
    list-style-type: disc;
    margin: 0;
    padding: 0;
  }

  li {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 3rem;
    grid-column-gap: 1rem;


    align-items: center;

    padding: 1.5rem .5rem;

    border-top: 1px solid #acacac;

    // &:last-child {
    //   border-top: none;
    // }

    span {
      justify-self: center;
    }

    p {
      margin: 0;
    }
  }
}
