---
layout: page
title: Style Guide
permalink: /styleguide/
---



<article class="chapter-contents">
  {% include nav-page.html prev="" next="" %}
  <section class="chapter-section">
    <div class="section-content">
      <h1>Style Guide</h1>
      <ul>
        <li>
          <a href="">Chapter Introduction</a>
        </li>
        <li>
          <a href="">Threats/Risks Section</a>
        </li>
        <li>
          <a href="">Defense/Fixes Section</a>
        </li>
        <li>
          <a href="">List of External Links</a>
        </li>
        <li>
          <a href="">Table of Tools/Choices</a>
        </li>
        <li>
          <a href="">Feature Spotlight</a>
        </li>
        <li>
          <a href="">Detailed Tool Info</a>
        </li>
        <li>
          <a href="">Quote Callout From Reference Site</a>
        </li>
        <li>
          <a href="">Step of Instructions</a>
        </li>
        <li>
          <a href="">Checklist</a>
        </li>
        <li>
          <a href="">Tabs</a>
        </li>
        <li>
          <a href="">Divider</a>
        </li>
        <li>
          <a href="">Table</a>
        </li>
        <li>
          <a href="">Buttons</a>
        </li>
        <li>
          <a href="">Transitions</a>
        </li>
        <li>
          <a href="">Colors</a>
        </li>
        <li>
          <a href="">Links</a>
        </li>
      </ul>
    </div>

    <section class="chapter-introduction">
      <h2>Chapter Introduction</h2>
      <p>
        The browser is the application that connects to the world wide web from your computer/device.
        It works with DNS and HTTP to fetch websites and read the HTML, CSS, code and other content for the browser to display.
      </p>

    </section>

    <section class="risks">
      <h3>Risks</h3>
      <ul>
        <li>
          <span></span>
          <p>
            3rd-party cookies from advertisers track you across websites when you visit a site that saves the cookie to your browser
          </p>
        </li>
        <li>
          <span></span>
          <p>These cookies can 'fingerprint' your identity through sophisticated means, sending data to trackers that can create an identity profile</p>
        </li>
        <li>
          <span></span>
          <p>Not using HTTPS on leaves your communications unprotected</p>
        </li>
        <li>
          <span></span>
          <p>Private browsing does not protect your information from your employer or ISP!</p>
        </li>
      </ul>

    </section>

    <section class="fixes">
      <h3>Fixes</h3>
      <ul class="chapter-links">
        <li>
          <span></span>
          <p>
            <a href="{{site.baseurl}}browser/alternatives" class="section-link">Browser Alternatives</a> that don't track you, block ads and increase speed and performance.
          </p>
        </li>
        <li>
          <span></span>
          <p>
            <a href="{{site.baseurl}}browser/blockers" class="section-link">Browser Extensions</a> that block ad tracking, reduce your digital fingerprint and increase online anonymity.
          </p>
        </li>
        <li>
          <span></span>
          <p>
            <a href="{{site.baseurl}}browser/https" class="section-link">HTTPS</a> encrypts your web surfing.
          </p>
        </li>
        <li>
          <span></span>
          <p>
            <a href="{{site.baseurl}}browser/private-browsing" class="section-link">Private Browsing</a> does not hide your web surfing from your employer or ISP.
          </p>
        </li>
        <li>
          <span></span>
          <p>
            <a href="{{site.baseurl}}browser/tor" class="section-link">TOR</a> browser will hide your traffic from your employer or ISP or any network.
          </p>
        </li>
        <li>
          <span></span>
          <p>
            <a href="{{site.baseurl}}browser/links" class="section-link">Read more about browsers and privacy</a>.
          </p>
        </li>
      </ul>
    </section>

    <section class="risk-fix">


    </section>
  </section>

  <footer class="page-footer">
    {% include nav-page.html prev="" next="" %}
  </footer>
</article>