---
layout: page
title: Style Guide
permalink: /styleguide/
---



<article class="chapter-contents">
  {% include nav-page.html prev="" next="" %}
  <section class="chapter-section">
    <div class="section-content">
      <h1>Style Guide</h1>

      <ul>
        <li>
          <a href="">List of External Links</a>
        </li>
        <li>
          <a href="">Table of Tools/Choices</a>
        </li>
        <li>
          <a href="">Feature Spotlight</a>
        </li>
        <li>
          <a href="">Detailed Tool Info</a>
        </li>
        <li>
          <a href="">Quote Callout From Reference Site</a>
        </li>
        <li>
          <a href="">Step of Instructions</a>
        </li>
        <li>
          <a href="">Checklist</a>
        </li>
        <li>
          <a href="">Threats/Risks Section</a>
        </li>
        <li>
          <a href="">Defense/Fixes Section</a>
        </li>
        <li>
          <a href="">Tabs</a>
        </li>
        <li>
          <a href="">Divider</a>
        </li>
        <li>
          <a href="">Table</a>
        </li>
        <li>
          <a href="">Buttons</a>
        </li>
        <li>
          <a href="">Transitions</a>
        </li>
        <li>
          <a href="">Colors</a>
        </li>
        <li>
          <a href="">Links</a>
        </li>
      </ul>
    </div>
  </section>

  <footer class="page-footer">
    {% include nav-page.html prev="" next="" %}
  </footer>
</article>