---
layout: guide
title: Mobile Apps
permalink: /mobile-devices/apps
---

<article class="chapter-wrapper">
  {% include nav-page.html prev="/mobile-devices/security" next="/mobile-devices/2fa" %}
  <section class="chapter-contents">
    <section class="chapter-section">
      <section class="section-content section-header">
        <header>
          <span class="app-cloud-upload-icon"></span>
          <h1>Mobile Apps</h1>
        </header>

        <article>
          <p>
            You might be surprised that some of the most popular apps don't have
            the best privacy features, take a look at data sharing practices with
            <a href="https://privacycheck.com">Privacy Check</a>.
          </p>

          <p>
            Sharing your data is most common practice by apps.
            <a href="https://arstechnica.com/information-technology/2018/09/dozens-of-ios-apps-surreptitiously-share-user-location-data-with-tracking-firms/">
              Many apps do this without telling you
            </a>.
            Even <a href="https://www.bloomberg.com/news/articles/2018-10-22/now-apps-can-track-you-even-after-you-uninstall-them?srnd=technology-vp">
              uninstalled apps can still spy on, showing you adds in hopes that you will re-install.
            </a>
          </p>
          <p>
            For online searching and browsing,
            use <a href="https://duckduckgo.com/app">DuckDuckGo</a> or
            <a href="https://www.mozilla.org/en-US/firefox/mobile/">Firefox Focus</a> and
            look into <a href="https://www.dnsoverride.com">DNS for Mobile</a> for a speed increase and privacy boost.
          </p>
          <p>
            For those that really need top notch security,
            <a href="https://play.google.com/store/apps/details?id=info.guardianproject.orfox&hl=en">
              Orfox
            </a> and
            <a href="https://play.google.com/store/apps/details?id=org.torproject.android&hl=en">
              TOR
            </a>
            for Android are options.
          </p>

          <ul>
            <li>
              <span class="read-article-icon"></span>
              <a href="https://publicbydefault.fyi/#venmo">
                Venmo: Public By Default
              </a>
            </li>
          </ul>
        </article>
      </section>
    </section>
  </section>

  <footer class="page-footer">
    {% include nav-page.html prev="/mobile-devices/security" next="/mobile-devices/2fa" %}
  </footer>
</article>