---
layout: guide
title: Mobile Apps
permalink: /mobile-devices/apps
---

<article class="chapter-wrapper">
  {% include nav-page.html prev="/mobile-devices/security" next="/mobile-devices/2fa" %}
  <section class="chapter-contents">

    <section class="chapter-section">

      <section class="section-content chapter-intro">
        <header>
          <span class="mobile-phone-message-icon"></span>
          <h1>Apps</h1>
        </header>

        <section>

          <article>
            <p>
              Your phone is just a computer.
              It's got a browser, operating system, location tracker and apps that want your data.
              It might just be the best snooping device ever invented, but you can take steps
              to reduce risks and increase your security.
            </p>
            <p>
              DuckDuckGo's <a href="https://spreadprivacy.com/">SpreadPrivacy.com</a> has
              great resources for mobile privacy tips for <a href="https://spreadprivacy.com/iphone-privacy-tips/">iPhone</a>,
              <a href="https://spreadprivacy.com/windows-10-privacy-tips/">Windows</a>,
              and <a href="https://spreadprivacy.com/android-privacy-tips/">Android</a>
            </p>
            <p>
              You might be surprised that some of the most popular apps don't have
              the best privacy features, take a look with <a href="https://privacycheck.com">Privacy Check</a>.
            </p>
            <p>
              Thinking of a new messenger app that emphasizes privacy?
              Look at this <a href="https://www.securemessagingapps.com">comparison chart for some new alternatives</a>.
            </p>
            <p>
              2 Factor Authentication is a complete 'must have' these days,
              so set it up on your <a href="https://www.turnon2fa.com/tutorials/">phone for all accounts that support that</a>.
              Check which <a href="https://twofactorauth.org">sites and apps offer it</a>.
            </p>
            <p>
              For online searching and browsing,
              use <a href="https://duckduckgo.com/app">DuckDuckGo</a> or
              <a href="https://www.mozilla.org/en-US/firefox/mobile/">Firefox Focus</a> and
              look into <a href="https://www.dnsoverride.com">DNS for Mobile</a> for a speed increase and privacy boost.
            </p>
            <p>
              For those that really need top notch security,
              <a href="https://play.google.com/store/apps/details?id=info.guardianproject.orfox&hl=en">Orfox</a> and
              <a href="https://play.google.com/store/apps/details?id=org.torproject.android&hl=en">TOR</a> for Android are options.
            </p>
          </article>

          <ul>
            <li>
              <a href="https://pack.resetthenet.org">Privacy Pack - Secure Chat, 2FA, Passwords for all major OS's</a>
            </li>
            <li>
              <a href="https://support.apple.com/en-us/HT205220">iOS Encrypted Back Ups</a>
            </li>
            <li>
              <a href="https://spreadprivacy.com/tag/device-privacy-tips/">Device Privacy Tips</a>
            </li>
            <li>
              <a href="https://www.apple.com/lae/privacy/">Apple on Security</a>
            </li>
          </ul>

        </section>

      </section>

    </section>

    <section class="chapter-section">
      <section class="section-content section-risk">
        <header>
          <!-- <span class="browser-warning-icon"></span> -->
          <h2>Phone Risks</h2>
        </header>

        <ul>
          <li>
            <span class="password-annoying-icon"></span>
            <section>
              <h4>Phone = Computer</h4>
              <p>
                Many of the same security measures apply to your phone
              </p>
            </section>
          </li>
          <li>
            <span class="browser-multiple-icon"></span>
            <section>
              <h4>Apps 'Sharing' Your Data</h4>
              <p>
                Popular apps have access to your important data
              </p>
            </section>
          </li>
          <li>
            <span class="anonymous-profile-icon"></span>
            <section>
              <h4>Only 1 Layer of Security</h4>
              <p>
                Passwords are just one level of protection that are easily breakable
              </p>
            </section>
          </li>
        </ul>
      </section>
    </section>

    <section class="chapter-section">
      <section class="section-fixes">
        <header>
          <h2>Phone Fixes</h2>
        </header>
        <ul class="chapter-links">
          <a href="{{site.baseurl}}mobile-devices/security" class="section-link">
            <span class="password-manager-icon"></span>
            <section>
              <h4>Phone Security Is Easy</h4>
              <p>
                Practical tips for implementing phone security
              </p>
            </section>
          </a>
          <a href="{{site.baseurl}}mobile-devices/apps" class="section-link">
            <span class="password-manager-icon"></span>
            <section>
              <h4>Learn How Apps Access Your Data</h4>
              <p>
                Who are the biggest offenders and what are the risks?
              </p>
            </section>
          </a>
          <a href="{{site.baseurl}}mobile-devices/2fa" class="section-link">
            <span class="password-check-icon"></span>
            <section>
              <h4>Use 2 Factor Authentication</h4>
              <p>
                2 Factor Authentication is a second password for extra protection
              </p>
            </section>
          </a>
        </ul>
      </section>
    </section>
  </section>

  <footer class="page-footer">
    {% include nav-page.html prev="/mobile-devices/security" next="/mobile-devices/2fa" %}
  </footer>
</article>