---
layout: guide
title: Mobile Devices
permalink: /mobile-devices/
---

<article class="chapter-wrapper">
  {% include nav-page.html prev="/email/phishing" next="/mobile-devices/security" %}
  <section class="chapter-contents">

    <section class="chapter-section">
      <section class="section-content chapter-intro">
        <header>
          <span class="mobile-phone-message-icon"></span>
          <h1>Mobile Devices</h1>
        </header>

        <section>
          <article>
            <p>
              Your phone is just a computer.
              It's got a browser, operating system, location tracker and apps that want your data.
              It might just be the best snooping device ever invented, but you can take steps
              to reduce risks and increase your security.
            </p>
            <p>
              The iPhone leads the pack on privacy and security.
              Apple is pro-encryption, they take
              <a href="https://www.apple.com/lae/privacy/">
                security and privacy very seriously.
              </a>
              iPhones are harder to hack, which is
              <a href="https://www.theatlantic.com/technology/archive/2018/10/president-trump-and-cell-phone-security/574096/?single_page=true">
                revealed in the price per phone exploit
              </a>
              compared to Andriod.
            </p>
            <p>
              It's virtually impossible for a phone to be
              untraceable (locating actual location via GPS possibly)
              or undetectable (identifying an active phone on the network).
            </p>
            <section class="blockquote">
              <h3>Attack Vectors on Your Phone</h3>
              <blockquote class="blockquote-excerpt" cite="https://www.theatlantic.com/technology/archive/2018/10/president-trump-and-cell-phone-security/574096/?single_page=true">
                <ul>
                  <li>
                    There are two basic places to eavesdrop on pretty
                    much any communications system: at the end points and during transmission.
                    This means that a cellphone attacker can either compromise
                    one of the two phones or eavesdrop on the cellular network.
                  </li>
                  <li>
                    Alternatively, an attacker could intercept the radio signals
                    between a cellphone and a tower.
                    Encryption ranges from very weak to possibly strong,
                    depending on which flavor the system uses.
                  </li>
                  <li>
                    Alternatively, an attacker could intercept the radio
                    signals between a cellphone and a tower.
                    Encryption ranges from very weak to possibly strong,
                    depending on which flavor the system uses.
                  </li>
                  <li>
                    Another way to hack a cellphone is to install a backdoor during the design process.
                  </li>
                  <li>
                    You’re at the mercy of the company that makes your phone,
                    the company that provides your cellular service, and the
                    communications protocols developed when none of this was a problem.
                    If one of those companies doesn’t want to bother with security, you’re vulnerable.
                  </li>
                </ul>
              </blockquote>
              <footer>
                From
                <a href="https://www.theatlantic.com/technology/archive/2018/10/president-trump-and-cell-phone-security/574096/?single_page=true">
                  Nobody’s Cellphone Is Really That Secure
                </a>
              </footer>
            </section>
            <p>
              You can at least apply some easy security settings
              to cover most scenarios. For most average consumer level users,
              it's the simple easy things that can make the difference.
            </p>

            <ul>
              <li>
                <span class="read-article-icon"></span>
                <a href="https://www.theatlantic.com/technology/archive/2018/10/president-trump-and-cell-phone-security/574096/?single_page=true">
                  Nobody’s Cellphone Is Really That Secure
                </a>
              </li>
              <li>
                <span class="read-article-icon"></span>
                <a href="https://www.youtube.com/watch?v=ucRWyGKBVzo">
                  VICE: Edward Snowden on State of Surveillance
                </a>
              </li>
              <li>
                <span class="tool-icon"></span>
                <a href="https://www.silentcircle.com/products-and-solutions/silent-phone/">
                  Silent Phone: Encrypted Peer to Peer Communication
                </a>
              </li>
              <li>
                <span class="tool-icon"></span>
                <a href="https://pack.resetthenet.org">
                  Privacy Pack - Secure Chat, 2FA, Passwords for all major OS's
                </a>
              </li>
              <li>
                <span class="watch-video-icon"></span>
                <a href="https://www.ted.com/talks/malte_spitz_your_phone_company_is_watching">
                  Matle Spitz TED Talk: Mapping Phone Meta-Data
                </a>
              </li>
              <li>
                <span class="watch-video-icon"></span>
                <a href="https://en.wikipedia.org/wiki/Comparison_of_VoIP_software#Secure_VoIP_software">
                  Comparison of VOIP Encryption Services
                </a>
              </li>
            </ul>
          </article>
        </section>
      </section>
    </section>

    <section class="chapter-section">
      <section class="section-content section-risk">
        <header>
          <!-- <span class="browser-warning-icon"></span> -->
          <h2>Phone Risks</h2>
        </header>

        <ul>
          <li>
            <span class="mobile-phone-plain-icon"></span>
            <h4>Phone = Computer</h4>
            <p>
              Many of the same security measures apply to your phone
            </p>
          </li>
          <li>
            <span class="app-cloud-upload-icon"></span>
            <h4>Apps 'Sharing' Your Data</h4>
            <p>
              Popular apps have access to your important data
            </p>
          </li>
          <li>
            <span class="folder-lock-icon"></span>
            <h4>Only 1 Layer of Security</h4>
            <p>
              Passwords are just one level of protection that are easily breakable
            </p>
          </li>
        </ul>
      </section>
    </section>

    <section class="chapter-section">
      <section class="section-fixes">
        <header>
          <h2>Phone Fixes</h2>
        </header>
        <ul class="chapter-links">
          <a href="{{site.baseurl}}mobile-devices/security" class="section-link">
            <section>
              <span class="mobile-phone-icon"></span>
              <h4>Phone Security Is Easy</h4>
              <p>
                Practical tips for implementing phone security
              </p>
            </section>
          </a>
          <a href="{{site.baseurl}}mobile-devices/apps" class="section-link">
            <section>
              <span class="app-cloud-upload-icon"></span>
              <h4>Learn How Apps Access Your Data</h4>
              <p>
                Who are the biggest offenders and what are the risks?
              </p>
            </section>
          </a>
          <a href="{{site.baseurl}}mobile-devices/2fa" class="section-link">
            <section>
              <span class="page-lock-icon"></span>
              <h4>Use 2 Factor Authentication</h4>
              <p>
                2 Factor Authentication is a second password for extra protection
              </p>
            </section>
          </a>
        </ul>
      </section>
    </section>
  </section>

  <footer class="page-footer">
    {% include nav-page.html prev="/email/phishing" next="/encryption/" %}
  </footer>
</article>