---
layout: guide
title: Mobile Security
permalink: /mobile-devices/security
---

<article class="chapter-wrapper">
  {% include nav-page.html prev="/mobile-devices/" next="/mobile-devices/apps" %}
  <section class="chapter-contents">
    <section class="chapter-section">
      <section class="section-content section-header">
        <header>
          <span class="mobile-phone-arrow-icon"></span>
          <h1>Mobile Security</h1>
        </header>

        <article>
          <p>
            Your phone is just a computer.
            It's got a browser, operating system, location tracker and apps that want your data.
            It might just be the best snooping device ever invented, but you can take steps
            to reduce risks and increase your security.
          </p>
          <p>
            DuckDuckGo's <a href="https://spreadprivacy.com/">SpreadPrivacy.com</a> has
            great resources for mobile privacy tips for
            <a href="https://spreadprivacy.com/iphone-privacy-tips/">iPhone</a>,
            <a href="https://spreadprivacy.com/windows-10-privacy-tips/">Windows</a>,
            and <a href="https://spreadprivacy.com/android-privacy-tips/">Android</a>
          </p>

          <!-- <ul>
            <li>
              <a href="https://pack.resetthenet.org">Privacy Pack - Secure Chat, 2FA, Passwords for all major OS's</a>
            </li>
            <li>
              <a href="https://support.apple.com/en-us/HT205220">iOS Encrypted Back Ups</a>
            </li>
            <li>
              <a href="https://spreadprivacy.com/tag/device-privacy-tips/">Device Privacy Tips</a>
            </li>
            <li>
              <a href="https://www.apple.com/lae/privacy/">Apple on Security</a>
            </li>
          </ul> -->
        </article>



      </section>
    </section>
  </section>

  <footer class="page-footer">
    {% include nav-page.html prev="/mobile-devices/" next="/mobile-devices/apps" %}
  </footer>
</article>