body {

}

main {
  display: grid;
  grid-template-rows: auto 100vh;
  grid-template-columns: 100vw;
  grid-template-areas: "nav" "content";
}

nav.main-menu {
  grid-area: nav;

  @media (min-width: 42em) {

    display: flex;
    height: 100vh;
    position: fixed;

    visibility: hidden;
    overflow-y: scroll;
  }
}

section.page-container {
  grid-area: content;
  height: 100vh;
  overflow-y: scroll;
}
