.chapter {
  height: 100%;
  width: 100%;
}

.chapter a {
  color: var(--body-copy);
}

.chapter-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  grid-template-areas: "nav" "content" "footer";
  min-height: 100%;
}

.sub-menu {
  grid-area: nav;
}

.chapter-contents {
  grid-area: content;
  margin: 2rem auto 0 auto;
}

.chapter-contents h3 {
  color: var(--sub-header);
}

.chapter-section {
  color: var(--body-copy);
}

.page-footer {
  grid-area: footer;
}
