// <article class="chapter-contents">
//   <section class="chapter-section">
//     <div class="section-content">
//
//     <section class="chapter-section">
//       <h3>Alternatives</h3>
//       <div class="section-content">


.chapter {

  height: 100%;
  width: 100%;


  a {
    color: var(--body-copy);

    &:focus,
    &:hover {

    }

    &:active {

    }
  }

}

.chapter-contents {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  grid-template-areas: "nav" "content" "footer";

  min-height: 100%;

  @media (min-width: 42em) {

  }

  h1 {
    padding: 1rem 0;
  }


}

.page-nav {
  grid-area: nav;
}

.chapter-section {
  grid-area: content;

  padding: 1rem;

  h3 {
    color: var(--sub-header);
  }
}


.section-content {
  color: var(--body-copy);
}

.page-footer {
  grid-area: footer;
}
