// <article class="chapter-wrapper">
//   <section class="chapter-contents">
//     <div class="chapter-section">
//
//     <section class="chapter-contents">
//       <h3>Alternatives</h3>
//       <div class="chapter-section">


.chapter {

  height: 100%;
  width: 100%;


  a {
    color: var(--body-copy);

    &:focus,
    &:hover {

    }

    &:active {

    }
  }
}

.chapter-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  grid-template-areas: "nav" "content" "footer";

  min-height: 100%;

  @media (min-width: 42em) {

  }

}

.sub-menu {
  grid-area: nav;
}

.chapter-contents {
  grid-area: content;

  margin: 1rem auto 0 auto;

  @media (min-width: 42em) {
    margin: 2rem auto 0 auto;
  }

  h3 {
    color: var(--sub-header);
  }
}


.chapter-section {
  color: var(--body-copy);
}

.page-footer {
  grid-area: footer;
}
