---
layout: guide
title: TOR Links
permalink: /vpn-tor/tor-links
---


<article class="chapter-contents">
  {% include nav-page.html prev="/vpn-tor/tor-about" next="/router/" %}
  <section class="chapter-section">
    <div class="section-content">
      <h1>TOR Links</h1>
      <p>
        The most effective ways to block your ISP and others from reading your surfing.
      </p>

      <h3>Risks</h3>
      <ul>
        <li>
          3rd-party cookies from advertisers track you across websites when you visit a site that saves the cookie to your vpn-tor
        </li>
        <li>
          These cookies can 'fingerprint' your identity through sophisticated means, sending data to trackers that can create an identity profile
        </li>
        <li>
          Not using HTTPS on leaves your communications unprotected
        </li>
        <li>
          Private browsing does not protect your information from your employer or ISP!
        </li>
      </ul>

      <h3>Fixes</h3>
      <ul>
        <li>
          <a href="{{site.baseurl}}vpn-tor/vpn-about">Find out when you really need to use a VPN</a>
        </li>
        <li>
          <a href="{{site.baseurl}}vpn-tor/vpn-services">How to choose a VPN service</a>
        </li>
        <li>
          <a href="{{site.baseurl}}vpn-tor/vpn-links">Read more about VPN's and helpful links</a>
        </li>
        <li>
          <a href="{{site.baseurl}}vpn-tor/tor-about">When does TOR become a good idea</a>
        </li>
        <li>
          <a href="{{site.baseurl}}vpn-tor/tor-links">Helpful TOR links</a>
        </li>
      </ul>
    </div>
  </section>

  <footer class="page-footer">
    {% include nav-page.html prev="/vpn-tor/tor-about" next="/router/" %}
  </footer>
</article>