---
layout: guide
title: VPN & TOR
permalink: /vpn-tor/vpn-services
---


<article class="chapter-wrapper">
  {% include nav-page.html prev="/vpn-tor/vpn-about" next="/vpn-tor/vpn-diy" %}
  <section class="chapter-contents">
    <section class="chapter-section section-header">
      <header>
        <span class="browser-code-icon"></span>
        <h1>VPN Services</h1>
      </header>

      <article>
        <p>
          Finding a good service is a real challenge.
          There are many VPN services out there that are scams designed to
          steal your data.
        </p>
        <p>
          You will need to find a service that costs money if you want a quality product.
        </p>
        <section class="blockquote">
          <h3>What a VPN can do for you:</h3>
          <blockquote class="blockquote-excerpt" cite="https://thewirecutter.com/reviews/best-vpn-service/">
            <ul class="bullet-list">
              <li>
                Perfect for providing security on a public wi-fi at coffee shops, airports and hotels
              </li>
              <li>
                One of many tools to prevent websites from tracking your IP address, but not a guarantee. Browser extensions help!
              </li>
              <li>
                Effective in preventing ISP tracking, but only if your VPN service is trustworthy and doesn't log.
              </li>
              <li>
                VPN will not protect you from active government tracking/surveillance, but is effective in passive snooping.
              </li>
              <li>
                Geoshifting, or using a VPN to fake your location, to get to certain websites is not an effective use. Popular websites are cracking down this.
              </li>
              <li>
                There is no guarantee that a VPN service can get around ISP throttling either.
              </li>
            </ul>
          </blockquote>
          <footer>
            - <a href="https://thewirecutter.com/reviews/best-vpn-service/">From Wirecutter.com</a>
          </footer>
        </section>

        <p>
          Advanced users and those requiring top notch anonymity will
          need a layered set-up of
          <a href="https://www.ivpn.net/blog/privacy-guides/advanced-privacy-and-anonymity-part-1">
            Virtual Mahcines running VPN and TOR.
          </a>
          This is next level stuff, requiring deep technical know how.
        </p>


        <h2>VPN Services</h2>
        <ul>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://thewirecutter.com/reviews/best-vpn-service/">
              Best VPN Service
            </a>
          </li>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://lifehacker.com/this-massive-vpn-comparison-spreadsheet-helps-you-choos-1764427219">
              Giant List of VPN Services
            </a>
          </li>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://www.privacytools.io/">
              Privacy Tools VPN Review
            </a>
          </li>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://thatoneprivacysite.net/vpn-comparison-chart/">
              That One Privacy Site VPN List
            </a>
          </li>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://restoreprivacy.com/vpn-routers/">
              VPN Router List
            </a>
          </li>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://techcrunch.com/2018/03/22/alphabets-outline-lets-you-build-your-own-vpn/">
              Googles' Outline Lets You Build Your Own VPN
            </a>
          </li>
        </ul>

        <h2>VPN Testing Tools</h2>
        <ul>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://www.privacytools.io/#webrtc">
              WebRTC IP Leak Test
            </a>
          </li>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://addons.mozilla.org/en-US/firefox/addon/happy-bonobo-disable-webrtc/?src=recommended">
              Disable WebRTC Firefox Extension
            </a>
          </li>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://www.dnsleaktest.com/">
              VPN DNS Leak Test
            </a>
          </li>
          <li>
            <span class="tool-icon"></span>
            <a href="https://anonymster.com/dns-leak-test/">
              DNS Leak Test
            </a>
          </li>
        </ul>


      </article>


    </section>
  </section>

  <footer class="page-footer">
    {% include nav-page.html prev="/vpn-tor/vpn-about" next="/vpn-tor/vpn-diy" %}
  </footer>
</article>