---
layout: guide
title: DIY VPN
permalink: /vpn-tor/vpn-diy
---

<article class="chapter-wrapper">
  {% include nav-page.html prev="/vpn-tor/vpn-about" next="/vpn-tor/tor-about" %}
  <section class="chapter-contents">
    <section class="chapter-section section-header">
      <header>
        <span class="browser-code-icon"></span>
        <h1>DIY VPN</h1>
      </header>

      <article>
        <p>
          For programmers and networking people, here are some cool projects for rolling your own solution.
        </p>

        <ul>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://arstechnica.com/gadgets/2017/05/how-to-build-your-own-vpn-if-youre-rightfully-wary-of-commercial-options/">
              Build Your Own VPN
            </a>
          </li>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://techcrunch.com/2017/04/09/how-i-made-my-own-vpn-server-in-15-minutes/">
              VPN Server In 15 Minutes
            </a>
          </li>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://blog.trailofbits.com/2016/12/12/meet-algo-the-vpn-that-works/">
              Algo VPN
            </a>
          </li>
          <li>
            <span class="read-article-icon"></span>
            <a href="https://github.com/StreisandEffect/streisand">
              Streisand VPN
            </a>
          </li>
        </ul>
      </article>

    </section>
  </section>

  <footer class="page-footer">
    {% include nav-page.html prev="/vpn-tor/vpn-about" next="/vpn-tor/tor-about" %}
  </footer>
</article>