---
layout: guide
title: Overview
permalink: /overview/
---

<article class="chapter-wrapper">
  {% include nav-page.html prev="/" next="/isp/" %}
  <section class="chapter-contents">
    <section class="chapter-section">
      <section class="section-content chapter-intro">
        <header>
          <span class="internet-router-icon"></span>
          <h1>The Internet</h1>
        </header>

        <section>
          <article>
            <p>
              The Internet is all the computers, servers,
              and devices connected together.
              Different protocols like HTTP, for websites,
              or SMTP, for email, are used to send
              data to any connected machine.
            </p>
            <p>
              The Domain Name System (DNS) is the
              Internet's massive phonebook
              that converts hostnames like apple.com to
              numerical IP Addresses -
              1234.2.23.5.
              DNS is like the contacts in your phone that maps names
              to numbers, making life easier for us humans.
            </p>
            <ul class="bullet-list">
              <li>
                <span class="watch-video-icon"></span>
                <a href="https://www.youtube.com/watch?v=7_LPdttKXPc&amp;feature=youtu.be">
                  Understand The Internet In 5 Minutes
                </a>
              </li>
              <li>
                <span class="watch-video-icon"></span>
                <a href="https://www.youtube.com/watch?v=7_LPdttKXPc&amp;feature=youtu.be">
                  What is The Internet Video Series - Code.Org
                </a>
              </li>
              <li>
                <span class="watch-video-icon"></span>
                <a href="https://www.youtube.com/watch?v=kBXQZMmiA4s&amp;index=5&amp;list=PLzdnOPI1iJNfMRZm5DDxco3UdsFegvuB7">
                  What is HTTP?
                </a>
              </li>
              <li>
                <span class="read-article-icon"></span>
                <a href="https://web.stanford.edu/class/msande91si/www-spr04/readings/week1/InternetWhitepaper.htm">
                  How The Internet Works Paper
                </a>
              </li>
              <li>
                <span class="read-article-icon"></span>
                <a href="https://howhttps.works"> Illustrated Comic on HTTP </a>
              </li>
            </ul>
          </article>
        </section>
      </section>
    </section>
  </section>
  <footer class="page-footer">
    {% include nav-page.html prev="/" next="/isp/" %}
  </footer>
</article>