---
layout: guide
title: Overview
permalink: /overview/
---

<article class="chapter-wrapper">
  {% include nav-page.html prev="/" next="/isp" %}
  <section class="chapter-contents">
    <section class="chapter-section">
      <section class="section-content chapter-intro">
        <header>
          <span class="internet-router-icon"></span>
          <h1>The Internet</h1>
        </header>

        <section>
          <article>
            <p>
              The Internet is all the computers, servers,
              and devices connected together.
              Different protocols like HTTP, for websites,
              or SMTP, for email, are used to send
              data to any connected machine.
            </p>
            <p>
              The Domain Name System (DNS) is the
              Internet's massive phonebook
              that converts hostnames like apple.com to
              numerical IP Addresses -
              1234.2.23.5.
              DNS is like the contacts in your phone that maps names
              to numbers, making life easier for us humans.
            </p>
            <ul class="bullet-list">
              <li>
                <span class="watch-video-icon"></span>
                <a href="https://www.youtube.com/watch?v=7_LPdttKXPc&amp;feature=youtu.be">
                  Understand The Internet In 5 Minutes
                </a>
              </li>
              <li>
                <span class="watch-video-icon"></span>
                <a href="https://www.youtube.com/watch?v=7_LPdttKXPc&amp;feature=youtu.be">
                  What is The Internet Video Series - Code.Org
                </a>
              </li>
              <li>
                <span class="watch-video-icon"></span>
                <a href="https://www.youtube.com/watch?v=kBXQZMmiA4s&amp;index=5&amp;list=PLzdnOPI1iJNfMRZm5DDxco3UdsFegvuB7">
                  What is HTTP?
                </a>
              </li>
              <li>
                <span class="read-article-icon"></span>
                <a href="https://web.stanford.edu/class/msande91si/www-spr04/readings/week1/InternetWhitepaper.htm">
                  How The Internet Works Paper
                </a>
              </li>
              <li>
                <span class="read-article-icon"></span>
                <a href="https://howhttps.works">Illustrated Comic on HTTP </a>
              </li>
            </ul>

            <h2>
              How You Can Get Hacked/Infected
            </h2>
            <p>
              There are several ways you get can get hacked.
              A hacked computer
              <a href="https://krebsonsecurity.com/2012/10/the-scrap-value-of-a-hacked-pc-revisited/">
                has many uses for it's owner.
              </a>

            </p>

            <h3>
              Tricked or Fooled
            </h3>
            <p>
              Email phishing scams can install malicious programs with
              innocent looking attachments.
            </p>
            <h3>
              Exploit Kits
            </h3>
            <p>
              <a href="https://blog.barkly.com/how-exploit-kits-work">
                Exploits kits
              </a>
              are a buffet of hacking tools to exploit a bug or
              weakness in various software on your computer.
              A forced download may be attempted hoping you'll install it.
              Usually a phishing email is sent to you.
            </p>

            <h3>
              Zero Day Attacks
            </h3>
            <p>
              Zero day exploits are serious software weaknesses that no
              one else knows about except those using the technique.
              The victims have no idea about the threat and when
              discovered, patch the bug.
              It's another reason why it is important
              to update software to fix these bugs.
            </p>

            <h2>
              How You Can Get
            </h2>
          </article>
        </section>
      </section>
    </section>
  </section>
  <footer class="page-footer">
    {% include nav-page.html prev="/" next="/isp" %}
  </footer>
</article>