---
layout: guide
title: Resources
permalink: /resources/
---

<article class="chapter-wrapper">
  {% include nav-page.html prev="/encryption/legal" next="/" %}
  <section class="chapter-contents">
    <ul class="chapter-toc">
      <a href="https://restoreprivacy.com/category/blog/">
        Restore Privacy
      </a>
      <a href="https://restoreprivacy.com/google-alternatives/">
        Complete List of Google Alternatives
      </a>
    </ul>
  </section>
  <footer class="page-footer">
    {% include nav-page.html prev="/encryption/legal" next="/" %}
  </footer>
</article>